[2013-02-16 18:36] kevinansfield opened #1 ""Remember me" functionality"
Hi,

Perhaps I'm missing something but does this package at the moment allow for "remember me" type functionality?

It seems as though it's currently set up for apps that require you to sign-in at the start of every session, is that correct?

[2013-02-16 19:06] heartsentwined commented on #1
**EDIT**

Feature accepted, will implement it in coming release.

[2013-02-16 21:31] ahazem opened #2 "specifying a different base URL"
Hi,

I was wondering how to go about specifying a different base URL for ajax requests. The thing is, I have two separate apps, the backend is running at `http://localhost:3000` and the frontend is running at `http://localhost:9292`.

At first I tried extending `Auth.RESTAdapter` like one would normally do with any subclass of `DS.RESTAdapter` like so:

[code]

but that didn't work as I expected,

[2013-02-17 15:00] heartsentwined commented on #2
@ahazem thanks for reporting! This is a bug behavior. I will push a fix in the next release.

[2013-02-18 13:04] heartsentwined commented on #2
@ahazem this feature has been implemented in v1.1.0.

[code]

Note that you need to set `Auth.Config.baseUrl` explicitly; `ember-auth` does not inherit the `url` setting from `Auth.RESTAdapter`.

However, I doubt if it will be useful in production. Cross-domain ajax requests is prohobited by default in jQuery. ([ref](http://stackoverflow.com/questions/1933065/ajax-request-to-different-host)) You w

[2013-02-18 13:04] #2 closed, assigned to nobody

[2013-02-19 22:35] heartsentwined commented on #1
@kevinansfield remember me feature implemented, closing issue.

[2013-02-19 22:35] #1 closed, assigned to nobody

[2013-03-08 20:44] joscas opened #6 "resolveUrl problem"
I've tried to replicate the example and I get this error in function resolveUrl:

Uncaught TypeError: Cannot read property '0' of null ember-auth.js:67
window.Auth.evented.create.resolveUrl ember-auth.js:67
window.Auth.evented.create.signIn ember-auth.js:17
BaseApp.SignInController.Ember.ObjectController.extend.signIn sign_in_controller.js:5
Ember.ControllerMixin.Ember.Mixin.create.send ember.js:1

[2013-03-09 01:43] heartsentwined commented on #6
I would be glad to help you, but I need more info to replicate your issue. First, where are you now replicating the example? There are at least two branches (widget-style templates vs full-page-style templates) and a couple of optional features (redirection, events, remember me). Also post your `Auth.Config` settings (the object that you pass to `Auth.Config.reopen()`) and, if you don't mind, your

[2013-03-09 12:50] joscas commented on #6
Many thanks for your help. I have failed with both branches with the same error. Haven't gone further than login.
Please see here: https://github.com/joscas/base_app

Here's my Auth.config:

Auth.Config.reopen({
  tokenCreateUrl: '/users/sign_in',
  tokenDestroyUrl: '/users/sign_out',
  tokenKey: 'auth_token',
  idKey: 'user_id',
  rememberMe: true,
  rememberTokenKey: 'remember_token',
  remember

[2013-03-11 15:01] DCKT commented on #6
Hi, I've got the same problem. In my case I use the Widget Style, here is my Auth.config :

[code]

The problem must came from the URL, but I checked everything and all looks right.
Hope you'll find an issue.

[2013-03-11 15:04] heartsentwined commented on #6
quick update, @DCKT and @joscas, just to note that I am working on the issue, I'll let you know once I have isolated the problem and have found a solution.

[2013-03-11 15:29] heartsentwined commented on #6
Issue should be resolved in latest bugfix (it is a missing guard clause). @joscas I cloned your repo, ran `bundle update`, and it is working for me.

Closing issue unless problem resurfaces.

[2013-03-11 18:11] joscas commented on #6
Many thanks, that fixes the 'Uncaught TypeError' error. However, I'm getting the request against the root path instead of against '/users/sign_in' as specified in my Auth.config.
Is this still a bug or is it my config that is wrong?

See my rails log:

Started POST "/" for 127.0.0.1 at 2013-03-11 19:09:59 +0100
Processing by ApplicationController#index as JSON
  Parameters: {"email"=>"joe@example.

[2013-03-11 19:33] DCKT opened #7 "Don't find the authToken"
Hi,

Great job for your bugfix, now I can send the mail and password to the DB but I don't know why, when I check if the authToken is here (in the template), it doesn't work.

Here is my Auth.Config :

[code]

How can I see the content of the authToken ?

Thank you very much.

[2013-03-11 20:14] kersten opened #8 "Let the store wait until accesToken is requested"
Hello,

I have a problem regarding ember-auth. I setup my complete app with all Auth routes, etc. But if I open a Auth.Route directly the router tries to load a Model.find(). The problem is that the authToken is not there yet and therefor the server rejects the request, because there is no backend match with the current session accessToken.

Another problem is the redirection to the sign_in route

[2013-03-12 04:41] heartsentwined commented on #7
should be a bug, I'll look into it

[2013-03-12 04:41] heartsentwined commented on #6
should be a bug, I'll look into it

[2013-03-12 04:58] heartsentwined commented on #8
The first issue. This is the expected behavior of `Auth.Route`. It does nothing by default, it's there to provide a central place for auth-related tasks. If you use `ember-auth`'s redirection, then `Auth.Route` does redirect away before trying to `Model.find()`. Otherwise, if you want to short-circuit the route, use the event hook `authAccess`:

[code]

This event will get fired before any redirec

[2013-03-12 05:20] heartsentwined commented on #6
@joscas it seems to be a sprockets (rails asset pipeline) issue: your `auth.js` was not included at all (despite the `require_tree .` directive). I included `auth.js` with an explicit directive in `application.js`, and your `Auth.Config` is now read correctly.

[code]

Let me know if you encounter any further issues.

[2013-03-12 05:20] #6 closed, assigned to nobody

[2013-03-12 05:21] heartsentwined commented on #7
Is it possibly [this issue](https://github.com/heartsentwined/ember-auth/issues/6#issuecomment-14759088) ? (in short: an explicit `require` directive is needed for sprockets)

[2013-03-12 05:42] kersten commented on #8
Hello heartsentwined,

thanks for you answer. I will try to describe my problem a bit more detailed.

The user comes to my site. It is his first visit. If he clicks somewhere an auth is needed he gets redirected to `sign_in`. So far, so good. Then he logs in and gets his access and remember token. The remember cookie is set and on every `Model.find()` request the `auth_token` is set.

The server s

[2013-03-12 06:02] heartsentwined commented on #8
Thanks for your detailed description. Can you post your `Auth.Config` settings? i.e. the object you passed to `Auth.Config.reopen()`.

[2013-03-12 06:03] kersten commented on #8
Sure, here it is:

[code]

[2013-03-12 07:36] heartsentwined commented on #8
Thanks, I'll look into the issue and update you here.

[2013-03-12 09:18] joscas commented on #6
Does work. Thanks!

[2013-03-12 09:20] heartsentwined commented on #6
You're welcome @joscas.

[2013-03-12 11:50] heartsentwined commented on #7
@DCKT Would you mind posting your ember app code, so that I can try to replicate your issue?

[2013-03-12 12:30] heartsentwined commented on #7
Thanks, but `application_view.js.coffee` has the code of `store.js.coffee` - copy-and-paste error? ;-)

There is also

[code]

in your sprockets directives, what does `rails_ember.js` do?

[2013-03-12 12:54] heartsentwined commented on #7
Thanks, I'll let you know of any updates

[2013-03-12 13:28] DCKT commented on #7
I found the problem, it wasn't an ember-auth problem.. In my controller when I returned the JSON I use "token" and not "auth_token" as key ..

Thanks again !

[2013-03-12 13:28] #7 closed, assigned to nobody

[2013-03-12 14:22] heartsentwined commented on #7
Oh, glad you found the solution anyway :-)

[2013-03-14 14:36] DCKT opened #9 "Remember me doesn't work"
Hi,

I didn't saw, but the remember me functionality doesn't work, in the Chrome Web Tools we can see the cookie but when I refresh the page, the view return to sign in.
Is it a bug of ember-auth or in my configuration ?

[code]

Thanks a lot

[2013-03-14 16:23] heartsentwined commented on #9
You need to call `Auth.Module.RememberMe.recall()` explicitly when you want to restore the session. This example restores the session app-wide, once the `ApplicationView` has finished loading:

[code]

If this is not the problem, then please post your code for further debugging.

P.S. Why does it not happen automagically? The above example incurs overhead app-wide, and might not be the best fit fo

[2013-03-15 06:14] heartsentwined commented on #8
Rather tricky issue, it's taking more time than I thought, but I would certainly like to implement it.

Marked as enhancement.

[2013-03-18 10:52] bakura10 opened #10 "How to authenticate without login route ?"
Hi,

I'm using EmberJS for a small subset of my ZF 2 application. Therefore, the user is authenticated through server side page, hence bypassing the mechanism introduced by this Ember module.

I'm a beginner in REST architecture, but how to deal with that ? Currently I save auth_token and user_id on the server instead of returning them in Json. The problme is that your lbirary save authToken and c

[2013-03-18 11:03] bakura10 commented on #10
Furthermore, is there a way the token is not sent through the "Authorization" header instead as a GET parameter ?

[2013-03-18 12:04] kersten commented on #8
Many thanks. What do you think how long does it take you to implement it?

[2013-03-18 12:13] heartsentwined commented on #8
I'm digging through ember docs throughout these days. The bottleneck is changing from async logic to sync logic.

The original design was to utilize ember's auto-update bindings, such that on `Auth.authToken` checks (and similar logic), the initial state is intentionally left as "non-signed-in". The app is expected to start as non-signed-in, and then ember would update the relevant parts when the

[2013-03-18 12:22] heartsentwined commented on #10
I don't understand the use case you described. If the user is already authenticated in a "server side page", then this happens before the ember app is loaded, right? If this is the case, then the user will be always "signed in" in the ember app, what are you trying achieve with a client-side authentication solution? Or have I read your use case wrong?

`ember-auth` does make assumptions in that yo

[2013-03-18 13:04] bakura10 commented on #10
Hi,

In fact in my application the user logged through server side. But I've found another solution (that rely on session identifier).

However concerning the authorization part I think you're doing it wrong. REST is making use of HTTP at its maximum... And there is a header specificially made for authentication: the Authorization header (http://en.wikipedia.org/wiki/Basic_access_authentication).

[2013-03-18 13:31] heartsentwined commented on #10
The Authorization header approach is, in my opinion, not ideal. In particular:
- so we send username and password on each request, then how do we differentiate the initial sign in from subsequent authenticated accesses? (see next point)
- there are one-off actions that should be performed only on initial sign in: increment a sign-in count, log IP, set remember me period, etc
- what about sign out?

[2013-03-18 13:40] bakura10 commented on #10
I'll read carefully the other links, but I can't see why your reasons does not allow to use the Authorization header (see that in my previous post - that I edited - I made the mistake too... there are both Authentication AND Authorization header, the Authorization one is for sending the token). You can still take advantage of your POST session and DELETE session, but still send the token through t

[2013-03-18 14:33] heartsentwined commented on #10
Ah, I got confused like you did; edited above post likewise :-)

[Amazon's solution](http://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html) seems the best example use case for Authorization headers. Marked as enhancement for future implementation.

[2013-03-18 14:35] bakura10 commented on #10
Exactly. Their solution is a bit more complex but the idea is here: Authorization header ;-). I'll keep an eye on it. Anyway, good job on this library, looks cool !

[2013-03-18 23:08] AshesOfOwls commented on #9
I bet I know what was wrong because I just ran into this issue.

If you're like me at all you tend to skim through tutorials trying to copy and paste as fast as possible, but that always leads to some minor mistakes. I was following your Rails integration tutorial and it seems I completely forgot to add the "remember" field to the sign_in view. I didn't think this was an issue because I figured th

[2013-03-19 03:03] baraka2000 commented on #9
Would it be terribly annoying to ask a beginner question. I managed to get
to the auth UI step, but my posts are not listing (nor are my users, but
login/out IS working)... I know the routes (and I'm assuming controllers)
are working because I can put random html into the post template and see it
in the browser. So things seemed to be working, just not loading my post
data....for some reason?? I h

[2013-03-19 05:32] heartsentwined commented on #9
Thanks @McPants , you know I had your exact problem when I was skimming through my own tutorial, copy-and-pasting, to test that it works. Took me full 15 mins to figure out what's wrong :-)

[2013-03-19 05:35] heartsentwined commented on #9
@baraka2000 No problem, everybody has been a beginner once. Here's what I would do for debugging, along with example errors that had happened to me somewhere along my own learning journey:
1. Normally you can't do this, but this is a tutorial with known working sample code, so just clone the `ember-auth-rails-demo` repo, and compare diff (I use [Meld](http://meldmerge.org/))
2. Real debugging star

[2013-03-19 14:35] baraka2000 commented on #9
Thanks for your reply!

I realize my question was sort of like "it's not working?" Which is hard
for anyone to answer, but I appreciate your pointers. I have spent a lot of
time looking at your code on github, "manual diff'ing" :) I'll try to get
meld working. The thing is I tried to be adventurous and setup a slightly
custom model instead of posts, thinking I might later try to us this sample
app

[2013-03-19 15:10] baraka2000 commented on #9
Thanks for your reply! I realize my question is a bit unspecific, like
"it's not working?" So I appreciate your pointers.

Looking at the XHR log in the console there are no errors, but closely
examining it I don't see any data in there? I checked my production db, it
was empty, so I migrated the production db thinking this would fix my
problem, and still no luck... Checked server logs, no errors

[2013-03-19 15:31] heartsentwined commented on #9
A couple of things:
1. I haven't dug deep into your ember side code yet, but the first sign of error is the XHR requests. It contains no body. A `curl -v http://infinite-everglades-2103.herokuapp.com/api/proofs` gives a `200 OK`, but it renders the standard Rails layout (instead of a JSON). `curl -v http://infinite-everglades-2103.herokuapp.com/api/proofs.json` (note the `.json`) gives a `500 Inte

[2013-03-19 15:53] baraka2000 commented on #9
I just navigated to
http://infinite-everglades-2103.herokuapp.com/api/proofs and
get

Error: No route matched the URL '/api/proofs'

pointing to routes, I just don't know how to fix. When I "manually
diff" all looks the same as your routes setup minus the name change...

On Tue, Mar 19, 2013 at 11:31 AM, heartsentwined
notifications@github.comwrote:

[2013-03-19 16:05] baraka2000 commented on #9
Fixed it! It was my routes.rb

the order of my routes was eff'ing it up, I had:

  root to: 'home#index'

  get '*ember' => 'home#index'

  devise_for :users, controllers: {sessions: 'sessions'}

  namespace :api do
    resources :proofs, only: [:index, :show]
    resources :users, only: [:index, :show]
  end

instead of:

  namespace :api do
    resources :proofs, only: [:index, :show]
    resour

[2013-03-19 16:13] heartsentwined commented on #9
Glad you found the solution.

@DCKT has your issue been resolved yet? Hopefully the silence means all's going well; closing issue now.

[2013-03-19 16:13] #9 closed, assigned to nobody

[2013-03-19 23:23] AshesOfOwls opened #11 "Current User"
I was wondering if there is a best practice for generating a current_user object or if in the future it would be possible to have it automatically generated under the Auth namespace.

Currently I am doing this...

[code]

There are some problems with this though, such as you can change the current user within the web inspector console so I need to watch for changes.

[2013-03-20 09:43] DCKT commented on #9
@heartsentwined Sorry for this late response. I remade the login by myself and it works ! But I've got a strange problem.

When I check for cookies and one found, the login view is loaded for 1 sec and immediatly change to the main view.
If someone had already this case can help me. Thanks a lot.

EDIT : I found how to correct that, we just have to block our ajax request so `async: false`

[2013-03-21 20:51] joscas opened #12 "Redirect unauthorized routes not working"
I have the following route:

BaseApp.UsersIndexRoute = Auth.Route.extend({
  model: function() {
    return BaseApp.User.find();
  },
  setupController: function(controller, model) {
    controller.set('users', model);
    return this.controllerFor('application').set('currentRoute', 'users');
  }
});

And the following Auth file:

Auth.Config.reopen({
  tokenCreateUrl: '/users/sign_in',
  tokenDes

[2013-03-21 22:05] ebastien commented on #12
My understanding is that the model hook of the route gets called before attempting the redirect.
Trying to load the model without being authenticated fails and it somehow prevents the redirect to complete.
You could try checking Auth.authToken before loading your model to see if it solves your problem.

[2013-03-22 15:10] joscas commented on #12
@ebastien I've tried what you suggest but Ember attempts to load the model always. No matter what I do inside the model call. For example this doesn't work:

BaseApp.UsersIndexRoute = Auth.Route.extend({
  model: function() {
    var model = (Auth.authToken) ? BaseApp.User.find() : null;
    return model;
  },
  setupController: function(controller,model) {
    controller.set('users', model);

[2013-03-22 15:28] joscas commented on #12
I found this solution. I do a redirect in the rails controller when the user is not authorized:

  def auth_only!
    unless params[:auth_token] && user_signed_in?
      #render json: {}, status: 401
      redirect_to "/sign_in"
    end
  end

Not sure if this is still a bug or the expected behavior.
To clarify, the problem is that trying to access /users directly produces an access to the API alw

[2013-03-22 15:32] joscas commented on #12
Actually I think this is the expected behavior. JS can't do any redirection if it hasn't been loaded yet... I close this

[2013-03-22 15:32] #12 closed, assigned to nobody

[2013-03-29 22:54] heartsentwined commented on #8
My apologies for the delay; I have implemented an auto-recall feature for the remember me function, which should solve your issue. Just update `ember-auth` to the latest version; there is no need to change existing code, although you no longer need to call `Auth.Module.RememberMe.recall()` in userland code.

I have documented this new behavior in the readme, but in short, `ember-auth` will now res

[2013-03-29 22:54] #8 closed, assigned to nobody

[2013-03-29 23:20] heartsentwined commented on #11
Looks good, I'm trying to hack this feature at the moment.

---

Regarding your `current_user` manipulation concern: why, a user can actually manipulate the `currentUserId`, the `authToken`, and in fact everything in the ember app. My best advice is that we should treat ember apps as nothing more than a fancy UI for your server's API service. (Read [this FAQ](https://github.com/heartsentwined/embe

[2013-03-30 02:54] heartsentwined commented on #11
This feature has been implemented in the latest version of `ember-auth`. Documentation at [readme](https://github.com/heartsentwined/ember-auth#auto-load-current-user-object), security notes at [wiki](https://github.com/heartsentwined/ember-auth/wiki/Security#current-user), but a brief summary for your use case here:

[code]

Access the user model via `Auth.currentUser` in handlebars, or `Auth.get

[2013-03-30 02:54] #11 closed, assigned to nobody

[2013-04-01 03:29] AshesOfOwls commented on #11
Thanks!

[2013-04-01 23:15] iHiD opened #14 "Reusing RestAdapter's ajax method"
Hey. This is a brilliant plugin. Thanks!

I'm using JSONP for my API and so have a slightly custom ajax function in my adapter. Ember-auth uses it's own (which seems to basically be a copy of the RestAdapter's), so I was wondering if it would make sense just to call that, rather than have the duplication.

In my code I'm currently doing the following, which works a treat:

[code]

I imagine other

[2013-04-02 06:28] heartsentwined commented on #14
The reason why I duplicated the method is a chicken-and-egg problem. I cannot call the original adapter's ajax method until it is initialized, and I need to know the application namespace (not everybody will call it `App`) in order to resolve to the instance. And `ember-auth` is loaded before the store is initialized, as in this code:

[code]

I hate the duplication too, and I would very much like

[2013-04-02 06:41] heartsentwined commented on #14
Alternatively, we can find a way to implement a decorator-style ajax call. The one in `ember-data` is hard-coded with their own needed variables; then you need to overwrite the whole method to implement your custom logic (you probably duplicate some of the original functionalities in your custom ajax method?). And still then `ember-auth` wants to inject the authentication token, or perhaps another

[2013-04-02 10:18] kersten commented on #11
Many thanks for this, will check it in a couple of days.

[2013-04-02 12:45] iHiD commented on #14
Yeah - I see the problem. That namespace issue is a bit of a killer generally (my namespace is Medudcation, not App, so it would apply directly to me). I'll have a think and get back to you if I come up with anything.

[2013-04-02 15:01] kevinansfield opened #17 "Auth.currentUser sticks around after signOut"
As per the title, I currently need to manually `null` the Auth.currentUser object in a custom `signOutSuccess` method.

Should this be handled automatically the same way as the `authToken` and `currentUserId` properties?

[2013-04-02 15:30] heartsentwined commented on #17
Thanks for the catch! It is an oversight: a bug. I will patch it now.

[2013-04-02 15:33] #17 closed, assigned to nobody

[2013-04-02 18:20] heartsentwined commented on #9
@DCKT this is an old thread but the latest version has fixed #8 which is, as far as I can tell, the problem that you have described here.

If remember me is enabled, the `ember-auth` will do a blocking ajax request (like your `async: false`) only on initial page load, before the redirection, so it should not flicker for 1 sec or so to the login view if there is a valid remembered session via cooki

[2013-04-04 07:53] masood09 opened #22 "Auth.Route.extend() not working"
When using Auth.Route.extend() I am getting an error Error: assertion failed: The route null was not found.

The Em.Route.extend() is working fine.

I am running ember-1.0.0-rc2

Let me know what's causing this. Attaching the code below.

[code]

[2013-04-04 08:22] heartsentwined commented on #22
I haven't duplicated the code to test yet, but at first glance, `Auth.Config.signInRoute` is missing.

If you are using `Auth.Config.authRedirect = true`, then you also need to define `Auth.Config.signInRoute`. The latter specifies where to redirect the non-signed-in user when one accesses the `Auth.Route`:

The `Auth.Config.signInRedirectFallbackRoute` is for another redirect:

Let me know if the

[2013-04-05 02:03] heartsentwined commented on #22
This issue has been closed and reopened almost immediately. A wrong click? Or has anything resurfaced? @masood09

[2013-04-05 02:08] masood09 commented on #22
Wrong click sorry! Will be checking the solution posted by you in an hour or so and update the issue status accordingly.
—
Sent from Mailbox for iPhone

On Fri, Apr 5, 2013 at 7:33 AM, heartsentwined notifications@github.com
wrote:

[2013-04-05 02:10] heartsentwined commented on #22
No problem, take your time!

[2013-04-05 02:34] masood09 commented on #22
Thanks! The solution worked. Should have read the README file carefully.

[2013-04-05 02:34] #22 closed, assigned to nobody

[2013-04-06 08:30] #14 closed, assigned to nobody

[2013-04-06 08:54] heartsentwined commented on #14
The `3.0` branch introduces a new `Auth.ajax` method, that will allow for userland overrides. Basically, it allows you to override whatever params passed to `jQuery.ajax(settings)` in userland code. If you need additional logic, you can also put it in your override function.

The corresponding ajax method from `ember-data` should have been built this way in the very first place, but well, at least

[2013-04-06 09:21] heartsentwined commented on #10
@bakura10 Half of amazon's solution has now been implemented in the `3.0` branch. You can now choose to use the Authorization header, or a custom header, to send the authentication token, instead of passing it as a param.

The HMAC encryption has not been implemented yet.

BC Breaks and upgrade guide for `3.0` branch available in the [Changelog](https://github.com/heartsentwined/ember-auth/blob/ma

[2013-04-06 09:27] kevinansfield opened #23 "MultiJson error after 3.0.1 upgrade"
I've just upgraded to 3.0.1 but now whenever I try to log in I get the following error server-side:
# MultiJson::LoadError at /users/sign_in

## (gem) multi_json-1.7.2/lib/multi_json.rb, line 11

[code]
## App backtrace
## Full backtrace
- (gem) multi_json-1.7.2/lib/multi_json.rb:11:in `initialize'
- (gem) multi_json-1.7.2/lib/multi_json.rb:122:in `rescue in load'
- (gem) multi_json-1.7.2/lib/mult

[2013-04-06 09:31] bakura10 commented on #10
This is looking awesome, thanks a lot for implemeting this so quickly :). Unfortunately I could not test it because I've done something much simpler in my application, but as my next application will be 100% EmberJS I'll use this !

About naming, I think 'requestTokenLocation' may be renamed to 'requestTokenMethod', it's clearer and better represent what it does.

Here the "" at the beginning seem

[2013-04-06 09:33] heartsentwined commented on #23
Looking into it.

Please :-
1. check that `ember-auth` is the only gem that has upgraded.
2. otherwise, please post your Gemfile, and, if it is not private, the relevant authentication codes at both the server- and client- end for reproducing this issue.

[2013-04-06 09:37] heartsentwined commented on #10
The `-location` suffix is intentional, exactly because I have "reserved" the `-method` suffix in mind for future implementation of different hashing/security mechanisms on the token.

As for that beginning `""`, well, that was a generated distribution file from coffeescript sources. But I think it is not useless: it coerces the whole thing into a string, because the `+` operator is polymorphic.

[2013-04-06 09:44] kevinansfield commented on #23
The only other gem that was upgraded was barber from 0.4.1 -> 0.4.2. This is my current Gemfile:

[code]

Client sign in controller:

[code]

Server-side session controller:

[code]

[2013-04-06 09:45] kevinansfield commented on #23
Ah, I'm guessing the Gemfile.lock will be useful for version information:

[code]

[2013-04-06 09:47] heartsentwined commented on #23
Thanks, I'll look into it.

[2013-04-06 09:49] heartsentwined commented on #23
Sorry, my oversight. Plesae post your `Auth.Config` also.

[2013-04-06 09:53] kevinansfield commented on #23
[code]

[2013-04-06 09:54] heartsentwined commented on #23
Thanks.

[2013-04-06 10:58] heartsentwined commented on #23
Bug confirmed. Finding a fix now.

[2013-04-06 12:17] #23 closed, assigned to nobody

[2013-04-06 12:19] heartsentwined commented on #23
Thanks a lot @kevinansfield for this bug report! `v3.0.2` has been released now, which contains the fix.

[2013-04-06 12:23] kevinansfield commented on #23
Awesome, thank you for your great work on this library!

[2013-04-06 12:25] heartsentwined commented on #23
You know, I'm just sharing what I had written for use in my own ember app. :-)

[2013-04-07 17:25] davidsteinberger opened #24 "Url updates w/ page refresh"
It seems that `Auth.Route` protection causes some invalid url updates upon page refresh.

My router setup looks like this:

[code]

A page refresh in route `rooms.room` (e.g. `#/rooms/room/47`), brings the user back into `rooms.room`, however the url is set back to `#/rooms`. So a subsequent refresh ends up w/ a redirect to `rooms.index`.

When I change `App.RoomsRoute` & `App.RoomsRoomRoute` back

[2013-04-07 17:28] joscas opened #25 "Persistence adapter not authenticating after upgrade"
I have updated my application to the last ember-auth release and my authenticated routes have stopped to work. Maybe there's a breaking change that I haven't taken into account but I can't find it.

My application is here: https://github.com/joscas/base_app

For example, when I try to acces the UsersIndexRoute, before I could see that ember was adding auth_token to the request:

GET "/users?auth_t

[2013-04-08 15:40] heartsentwined commented on #25
Thanks for the bug report, I'll look into it.

[2013-04-08 22:30] joscas commented on #25
Many thanks. Please let me know if I can provide additional information.

[2013-04-09 07:13] heartsentwined commented on #25
This took longer than I expected because there are a myriad of circumstantial factors that could affect `Auth.ajax`, mostly introduced by the new customizable `Auth.ajax` functionality. Anyway, it should be fixed in the new `ember-auth-source = 3.0.3` build.

[2013-04-09 08:03] joscas commented on #25
Thanks for fixing but I've upgraded and now when I access the route I get this error:

Uncaught TypeError: Cannot read property 'auth_token' of null ember-auth.js:229
window.Auth.evented.create.ajax ember-auth.js:229
Auth.RESTAdapter.DS.RESTAdapter.extend.ajax ember-auth.js:328
superWrapper ember.js:947
DS.RESTAdapter.DS.Adapter.extend.findAll ember-data.js:7791
DS.Store.Ember.Object.extend.fetchA

[2013-04-09 09:05] heartsentwined commented on #25
??
I could have sworn I tested it myself ...? Must be an oversight, let me re-do it.
Sorry for that!

[2013-04-09 09:30] #25 closed, assigned to nobody

[2013-04-09 09:32] heartsentwined commented on #25
My apologies, I didn't test thoroughly. It is a js `typeof null == 'object'` error. :disappointed:

[2013-04-09 09:36] heartsentwined commented on #25
Try `ember-auth-source = 3.0.4` now.
On another note, this time I tried testing all links that I can find on your example app, and I discovered that if I register a new user (`foo@example.com`), and then try to sign in with your seeded example user (`josep@casals.name`), I would still be logged in as `foo@example.com`. This happens whether I have explicitly signed out `foo@example.com` or not. Aft

[2013-04-09 11:03] joscas commented on #25
Many thanks it works now! Also thanks for spotting that problem in my application. I haven't been able to reproduce it after the update but I'll implement a test for that and try to catch it.

[2013-04-09 15:56] seanrucker opened #26 "Error running rake dist"
After bundle install and running rake dist I get an error:

can't activate rack-1.4.4, already activated rack-1.4.5

Not sure what to do — I tried uninstalling 1.4.5 but other gems depend on it so that doesn't work.

[2013-04-09 16:05] seanrucker commented on #26
I got around it for now using a custom gemset.

[2013-04-09 16:06] heartsentwined commented on #26
I did a `bundle install` and `rake dist` from a fresh repo clone and it worked fine at my environment. Try this:

# TL; DR

Try `bundle exec rake dist`.

# Details

Some other settings (other rubies? other projects?) are sharing the same gem environment. `rake` might be pointing to somewhere else other than the one intended by `ember-auth`.

Are you using [rvm](http://rvm.io/)? This is the easiest

[2013-04-09 16:08] seanrucker commented on #26
bundle exec rake dist... beauty.

I knew there was a way to run bundle and ensure proper versions but couldn't remember what it was. Thanks!

[2013-04-09 16:08] #26 closed, assigned to nobody

[2013-04-09 16:10] heartsentwined commented on #26
Thanks for this issue anyway, I have added notes to the readme to clarify the steps.

[2013-04-10 16:01] seanrucker opened #29 "Authenticated-only routes don't work for routes that load model data"
The model hook on the route gets called before the redirect hook. At that point the user is not authenticated and the call to load the model fails. Any thoughts on how to get around this?

[2013-04-10 16:05] heartsentwined commented on #29
Is that a change introduced by a newer ember version or something? Because this snippet from [ember-auth-rails-demo](https://github.com/heartsentwined/ember-auth-rails-demo/) works fine:

[code]

[2013-04-10 16:06] heartsentwined commented on #29
Or like, work_ed_ fine; I haven't had time to update the demo to reflect `3.x` branch yet.

[2013-04-10 16:12] seanrucker commented on #29
I'm not sure when it was introduced. Here's an example of what I'm talking about:

[code]

When visiting that route the console spits out:

model
redirect
setupController

If you try to load something in the model hook you won't be authenticated yet and you will get an error.

There seems to be lots of discussion going on around this very issue here: https://github.com/emberjs/ember.js/issues/2041

[2013-04-10 16:22] heartsentwined commented on #29
While we can surely wait for emberjs/ember.js#2041 to sort out the order that they want (otherwise if we fix this, and then they change the order, we'll start all over again), I was wondering if there is an even earlier / lower level hook that we can move auth logic to?

[2013-04-10 16:30] seanrucker commented on #29
Lets also keep an eye on these:

https://github.com/emberjs/data/issues/838
https://gist.github.com/stefanpenner/9ccb0503e451a9792ed0

[2013-04-10 16:37] heartsentwined commented on #29
As you have discovered, this relates to a deeper issue within ember itself. They are looking at `activate`/`deactivate`, `enterFilter`/`exitFilter`, reordering of those hooks, or others, and we're not sure which will come up.

Ref:
- [this comment](https://github.com/emberjs/ember.js/issues/1786#issuecomment-15572588) on emberjs/ember.js#1786
- [machty's gist](https://gist.github.com/machty/517078

[2013-04-10 17:10] heartsentwined commented on #29
One solution that I can think of, is to extract the current `Auth.Route` logics (including your url auth one) into mixins. I am thinking of API like:

[code]

where you can customize where, and in what order, they are executed. `Auth.Route` itself can be loaded with the mixins at their existing order behind the scenes.

[2013-04-11 19:53] joscas commented on #25
Just a quick note in case someone checks that thread: The singin/signout problem reported in my application ( https://github.com/joscas/base_app) is now fixed.

[2013-04-11 21:03] heartsentwined commented on #25
Congratz :smile: - that someone would include me.

[2013-04-11 22:17] joscas opened #31 "Auth.signOut() not including token with Poltergeist"
Well, perhaps this is a bit paranormal but I've noticed that my cucumber test suite doesn't perform sign outs if I pick the poltergeist driver. What I see is that a call is made to the API but no token is included.

On my test application (https://github.com/joscas/base_app) this can be reproduced as follows:

1- Un-comment the last two lines of the sign_out feature: https://github.com/joscas/base

[2013-04-11 22:22] heartsentwined commented on #31
I am neither a Cuke fan nor a poltegeist user, so I can't promise anything, but I'll give it a look.

[2013-04-12 01:06] heartsentwined commented on #31
No luck after hacking at your app and ember-auth source. I have no idea what the difference between poltergeist and selenium is (I mean, yes, there is webkit vs firefox, but this high-level difference is not helping...), nor do I understand what you mean by "Auth.signOut() not including token". Any pointers?

[2013-04-12 11:00] joscas commented on #31
To help testing, I remove all the feature files except for the sign out one. Then I can see this in my log/test.log when I test with poltergeist:

Started DELETE "/users/sign_out" for 127.0.0.1 at 2013-04-12 12:48:33 +0200
Processing by SessionsController#destroy as JSON
Completed 400 Bad Request in 1ms (Views: 0.3ms)

When I test with selenium then I can see this:

Started DELETE "/users/sign_out

[2013-04-12 16:11] stas opened #32 "Remove ember-rails dependency"
Use `ember-source`, `ember-data-source` and `handlebars-source` as dependencies. Consider `ember-rails` as development dependency eventually.

[2013-04-14 07:37] heartsentwined commented on #31
I dug a little deeper into Poltergeist, and found out that it uses `phantomjs` as its backend. The thing is, `jasminerice` + `guard-jasmine` is also using `phantomjs`, and `ember-auth` tests run on these do pass.

This should be an assumption of browser state somewhere in the code, but I have no idea where to start this debugging.

[2013-04-14 07:39] heartsentwined commented on #32
Good catch. I will use those source deps once I figure out which versions are compatible with `ember-auth`.

[2013-04-14 17:45] #32 closed, assigned to nobody

[2013-04-14 17:46] heartsentwined commented on #32
I opted for `ember-source` only, and let ember itself figure out which versions of the others should work together.

[2013-04-14 18:30] stas commented on #32
Awesome! :+1:
Thank you.

[2013-04-14 18:31] heartsentwined commented on #32
:smile:

[2013-04-15 04:33] brandonparsons opened #34 "auth_token not being sent"
Hi there!

This seems like a cool project - I'm trying it out.

Not quite sure what I'm doing wrong, but the `auth_token` is not being sent along with requests.  Everything else appears to be working 100% correct (I've been following the tutorial).

For example, I can detect if signed in/out in views:

[code]

works fine.

But when I post to the backend for routes that require authentication, `aut

[2013-04-15 18:28] heartsentwined commented on #34
I had just finished trying out the tutorial myself, and it was working. As a start, could you post your `Auth.Config` settings? - i.e. the object that you passed to `Auth.Config.reopen()`.

I'd start the debug by checking that all identifiers are specified and spelt correctly, e.g. `auth_token` vs `authentication_token`? (This has caught me in the past.)

If you don't mind, you can also make a rep

[2013-04-16 01:44] brandonparsons commented on #34
Hey!  Thanks for the reply.

Here's the auth config:

[code]

The `userModel` part I added as a test, didn't seem to make a difference.

I'm not quite sure if a spelling error would do it, as I can successfully log in via the `sign-in.coffee` and `sign-out.coffee` views, so I think its more of something I've misconfigured in your tool.

I'm also brand new to ember, so having doubly hard time debug

[2013-04-16 03:47] heartsentwined commented on #34
You are using `ember-data`'s `DS.RESTAdapter`, instead of `ember-auth`'s `Auth.RESTAdapter`.

`store.js.coffee`:

[code]

Reference: relevant paragraph from the tutorial, on the [Model UI page](https://github.com/heartsentwined/ember-auth-rails-demo/wiki/Model-UI):

[2013-04-16 03:55] brandonparsons commented on #34
I figured it would be a simple misconfiguration!! Thanks for taking a look!!

On Mon, Apr 15, 2013 at 9:47 PM, heartsentwined notifications@github.comwrote:

[2013-04-16 03:56] #34 closed, assigned to nobody

[2013-04-16 04:03] heartsentwined commented on #34
Glad it solved your problem. :smile:

[2013-04-16 22:36] rastasheep opened #36 "Remember me cookie"
Hi,
I have a problem with remember me feature.
Followed by instructions in your exemple, everything goes just fine. When i log in, ember-auth creates cookie, when i refresh page, i'am still loged in, but after that first reload, cookie disappears, and after another refresh i'am logged out.

I'am tried  with:

[code]

And with

[code]

I also tried with local storage, but same problem occurs.

Is t

[2013-04-16 23:06] heartsentwined commented on #36
Ah. Cookies. This is a divided issue, on many fronts. We are still not sure what the expected behavior _should be_. Read on:

First, do we allow / use _session_ cookies? If so, what should be their behavior? Here is the relevant section from the tutorial discussing on this issue. Model page, [base controller](https://github.com/heartsentwined/ember-auth-rails-demo/wiki/Model#base-controllers) sect

[2013-04-16 23:38] rastasheep commented on #36
Thanks for this long, answer :)

I think that server side is ok, because on sign-in i get remember me token, and prevent unauthenticated  user to see what i don't allow to him.

Second i agree that browser refresh is no different from re-accessing the app two days later, and with that on mind i tried to reproduce github like sessions (no meter on what, user stays logged in, by that i mean refresh,

[2013-04-17 00:00] heartsentwined commented on #36
Widget-style vs Full-page-style templates do not make a difference.

Your workflow is a solid use case, but I have one slight complaint:
1. (signed in with remember)
2. [restart] auto sign in
3. and deletes cookie <-- here, why?

I think this workflow would be counter-intertuitive to most users: let's say a user saw an option "Remember me for two weeks" on the sign in page.
1. He turns remember me

[2013-04-17 00:13] rastasheep commented on #36
Sorry, workflow that wrote is what happend to me, not what i want to achieve.

I tried with:

[code]

But it only works only _once_, after that automatic sign in, cookie disappears.

[2013-04-17 00:17] heartsentwined commented on #36
That would be a bug. I'll look into it.

[2013-04-17 00:20] rastasheep commented on #36
One more thing, remember me on your example app (http://ember-auth-rails-demo.herokuapp.com/), doesn't work too.

[2013-04-17 00:21] heartsentwined commented on #36
Thanks, I'll look into it.

[2013-04-17 14:27] kevinansfield opened #37 "urlAuthentication with redirect on IndexRoute"
I'm trying to implement urlAuthentication so that I can authenticate users immediately after hitting the confirmation link generated by devise but I'm running into an issue.

When I hit the url `/?auth[key]=xxx/signup/step_2`, instead of auth happening and being taken to the `/signup/step_2` url I instead get immediately redirected by the `redirect` set on `App.IndexRoute`.

[2013-04-17 15:01] kevinansfield commented on #37
Does that mean that the `App.IndexRoute` needs to be an `Auth.Route`?

[2013-04-17 15:08] kevinansfield commented on #37
Don't worry, I think I've figured this out now.

I had to add an `AuthRoute` that extends `Auth.Route` and change my confirmation redirect to `/auth?auth[key]=xxx/signup/step_2`

It may be useful for other users if it's made a little clearer in the docs that something like this is necessary if you have `authRedirect: true` and you don't want your app's homepage to require authentication.

[2013-04-17 15:34] kevinansfield commented on #37
Well, I thought I was there but it appears that the urlAuthentication isn't passing the params correctly. Here's an excerpt from the development.log:

[code]

[2013-04-17 16:09] heartsentwined commented on #37
Two separate issues. First, I managed to reproduce the `undefined` object params bug, and I'm working on it. As for the site-wide url authentication, this is also being implemented, as an extension of #36. The result will be a flag that you can turn on, in order to enable url authenticate on regular `Em.Route` too.

[2013-04-17 16:24] kevinansfield commented on #37
Awesome. Thank you!

[2013-04-17 16:37] heartsentwined commented on #37
new version released. It fixes the `undefined` bug. As for enabling site-wide Url Authentication, set this flag:

(section from [readme](https://github.com/heartsentwined/ember-auth#url-authentication)):

This will enable your non-`Auth.Route` Index Route to work with url authentication.

The original idea to put this functionality only in `Auth.Route` is the reasoning that public routes don't nee

[2013-04-17 16:38] #36 closed, assigned to nobody

[2013-04-17 16:48] kevinansfield commented on #37
I've just updated and added the urlAuthenticationRouteScope config but now there is a different issue.

If I load the app on the /home route I see two failed sign in attempts with the parameters:

`Parameters: {"auth"=>{"undefined"=>"undefined"}, "session"=>{"auth"=>{"undefined"=>"undefined"}}}`

After this, every time a new route is loaded there is an additional sign in attempt with `undefined` i

[2013-04-17 16:50] heartsentwined commented on #37
Sorry about that, are you using `4.1.0` or `4.1.1`? The `4.1.0` version had a bug during build; I have replaced it with `4.1.1` immediately.

Reopening this issue until all your issues have been resolved, and that "everything is working".

[2013-04-17 16:52] heartsentwined commented on #36
Several issues addressed in the latest commits:
1. remember me is now working correctly as you expected. (cookies not getting deleted "accidentally".)
2. the demo app is working now.
3. about your use case of remember-me for public routes:

This feature has been added to `ember-auth`. It enables the auto-recall feature from remember me module on regular `Em.Route`s, via a config flag:

(section fr

[2013-04-17 16:56] kevinansfield commented on #37
I've just updated to `4.1.1` but I'm still seeing the same issue. Is there any other details I can provide that will help track the problem down?

[2013-04-17 16:59] heartsentwined commented on #37
Your `Auth.Config` settings, whether you are using `history` or `hash` routing (if you don't know, then default is `hash`), and the exact full URLs that you are trying to authenticate on, please.

[2013-04-17 17:03] heartsentwined commented on #37
One thing I noticed: You said you were trying to sign in to `/?auth[key]=xxx/signup/step_2`. This is neither a proper `history` route nor a `hash` location route. The example given on the doc uses the `hash` route, and in your case would take the form of `/?auth[key]=xxx/#/signup/step_2`; as for a history route, it would take the form of `/signup/step_2?auth[key]=xxx`. Both would pass a param of `

[2013-04-17 17:05] kevinansfield commented on #37
[code]

I'm using `location` for routing. You're correct, I just took the `hash` example and mangled it when I tried to convert it to the `location` version.

However, the problem now is not when trying to authenticate, it's when viewing any route.

[2013-04-17 17:08] heartsentwined commented on #37
`location`? You mean `history`?

I'll try to hack together an example app to reproduce your environment. If you have a repo of this example app, would you mind sharing it? Otherwise, I'll try to describe what I have gathered from what you have said, and you can verify if I got it right.

[2013-04-17 17:13] kevinansfield commented on #37
Yes, sorry.

Unfortunately I'm unable to share the repository. I can see if I can set up a minimal app that shows the same issue if that's necessary.

[2013-04-17 17:18] kevinansfield commented on #37
This may be interesting. Despite opening just a basic route `/home`, the `params` object is not empty:

![Screen Shot 2013-04-17 at 19 18 32](https://f.cloud.github.com/assets/415/392627/e1218b90-a782-11e2-8208-2a5c2a02d0b0.png)

[2013-04-17 19:47] rastasheep commented on #36
Great, thanks for quick response,
i'll test it and if there is some issues i will post them.

[2013-04-17 23:49] heartsentwined commented on #37
`Object { "undefined": "undefined" }` bug fixed in `4.1.2`. Many thanks for this bug report!

See if this helps your problem. I know it may just be a peripheral issue, but I can't reproduce the behavior you have described yet.

[2013-04-18 06:54] kevinansfield commented on #37
That's fixed the issue, thanks!

[2013-04-18 06:54] #37 closed, assigned to nobody

[2013-04-18 20:49] rastasheep commented on #36
Works like a charm!
Thanks again.

[2013-04-18 20:57] heartsentwined commented on #36
Glad to help :smile:

[2013-04-19 03:27] heartsentwined commented on #29
Took another stab at the issue today, and I got a simple workaround:

[code]

In my trial setup, the redirect hook is indeed not working when the route tries to load an auth-only model (and fails). Wrapping it in a conditional to prevent a failing model load (seems to) fix the issue, for now.

Give it a try and let me know if it's working for you.

[2013-04-23 01:48] deepcloud opened #39 "How to make ember-auth work with RequireJS"
I'm trying to use shim to load "ember-auth.js", but looks like it doesn't work, any ideas? Thanks,

FY

[2013-04-23 03:51] dcalhoun commented on #29
@heartsentwined your last proposed solution seems to work for me for the time being.

[2013-04-23 07:08] heartsentwined commented on #39
My apologies, `ember-auth` was not designed with RequireJS in mind. I would be glad to include this support in the next release. Any pointers on writing a RequireJS-compatible module?

[2013-04-25 15:59] 90rdon opened #40 "Error during the mixin with Auth.SignInConrtoller"
Ember-Auth doesn't seem to redirect the user after authentication with the default routing. I know I got the "authToken" and "currentUserId" from the server, but the user did not get redirected and reminded on the "sign in" page. Then I followed your instructions with mixin in the Auth.SignInController to do customize redirecting, except I got these errors from the browser debug during page load,

[2013-04-25 17:20] seanrucker commented on #29
This workaround falls apart if you are already authenticated and have a remember-me token, or if you are passing the authentication params in the URL.

For example, take the URL shown in the README for URL authentication: http://www.example.com/?auth[remember]=1&auth[key]=fja8hfhf4/#/posts/5

When you access that URL the route will first invoke the model hook. The model will not be loaded because

[2013-04-25 17:43] seanrucker commented on #29
This seems to do the trick: https://github.com/heartsentwined/ember-auth/pull/41

[2013-04-25 17:49] seanrucker opened #42 "Redirect logic does not work for routes with a context"
For example, take the following URL: http://www.example.com/#/posts/5

If a user tries to access that URL before he has authenticated ember-auth will store the route name and transition to the sign-in route:

[code]

The route name does not include the post id and therefore after successfully logging in the redirect logic will transition to /#/posts instead of /#/posts/5

I'm not sure what the sol

[2013-04-25 23:01] heartsentwined commented on #42
I got a solution in the pipeline, working to get it fixed. Basically, the current implementation falls apart on routes with dynamic segments, because when it tries to transition back, the model will be missing. Unfortunately, it's quite a grosteque fix, with lots of access to supposed private methods, due to ember keeping a whole bunch of routing necessities protected (the `params` passed in the m

[2013-04-26 00:08] heartsentwined commented on #29
# TL;DR

The current redirection logic is flawed and doomed to fail. (But a revamp is in the pipelines.)

# Status

#41 is close, but introduces unintended behavior. (See reason over there, and details below.) Otherwise, I have got a fix now, as soon as I am sure it works with other components, I'll push it upstream.

# Technical Details

(Mostly for @seanrucker, since you are quite active and int

[2013-04-26 00:12] heartsentwined commented on #42
See discussion on #29, specifically [this write up of mine](https://github.com/heartsentwined/ember-auth/issues/29#issuecomment-17048375).

[2013-04-26 00:19] heartsentwined commented on #40
First, make sure the route `signIn` is actually defined in your router. Something like:

[code]

Note also that a `controller` is different from a `view`. Defining `templateName` on the `controller` will not hook onto that handlebars template; it will just sit there (and be a Property of the controller). Instead, you probably mean:

[code]

\- along with the corresponding handlebars template. For

[2013-04-26 09:51] joscas opened #43 "Auth.RESTAdapter ignores "url" setting"
When I do the following I continue to get requests to `localhost`:

[code]

Using this also doesn't work:

[code]

If I do this, requests are directed to the proper host (but without `auth_token` as would be expected):

[code]

[2013-04-26 09:54] heartsentwined commented on #43
Acknowledged. I'm working on the next version at present with lots of bug fixes, which should be released in two to three days. `Auth.RESTAdapter` would be gone, and you would be able to use the `url` setting of `DS.RESTAdapter` as expected.

[2013-04-26 10:05] joscas commented on #43
Thanks for your effort. Will hold on until next version.

[2013-04-26 14:04] seanrucker commented on #29
Thanks for the detailed explanation! I'm looking forward to the solution you have in the works.

[2013-04-30 12:32] rastasheep opened #45 "Request order"
Is there any way to get ember-auth to make `Auth.Module.RememberMe.recall()` request before ember data?

When i open app first time, ember data first makes request and than ember-auth set current user (in other word, that first api request is unauthorized, but user is loged in).

[2013-04-30 12:49] heartsentwined commented on #45
No. Duplicate of #29.

Summary: this is not an `ember-auth` issue. emberjs/ember.js#2041 is an issue opened specifically to address this, viz. that a `model` hook should not be called if redirection happens in the `redirect` hook.

The solution, for now, is to wrap all auth-only model calls under an `Auth.authToken` conditional, just like in the view templates.

[2013-04-30 12:49] #45 closed, assigned to nobody

[2013-05-01 01:17] ryw commented on #43
@heartsentwined I'm new to ember, trying to implement authenticated CRUD based on code here https://github.com/dgeb/ember_data_example

I had issue with deleted record staying in list, which I'm hoping is fixed here in ember-data: https://github.com/emberjs/data/issues/911#issuecomment-17234733

I just tried updating ember + ember data to head (via ember-data-rails generator).

Now I'm getting `Un

[2013-05-01 02:12] heartsentwined commented on #43
Sorry for that - #44 fixed this, but I have not released a new version yet. It's just a one liner -

[code]

[2013-05-01 02:27] ryw commented on #43
Ah OK — hope you're having some success on the refactoring task — your work here at ember-auth is instrumental to me deciding to push through this weekend and build my first ember app. I appreciate your effort, and hope I can help give back as I become more familiar.

[2013-05-01 03:39] heartsentwined commented on #43
The refactoring is done, I'm just finishing with the docs

[2013-05-02 07:19] heartsentwined commented on #43
@joscas the `5.x` branch should support custom `url` for `DS.RESTAdapter`. `Auth.RESTAdapter` is gone, but more generally almost every custom `Auth*` class is gone.

[2013-05-02 07:20] heartsentwined commented on #43
@ryw `5.x` branch released which incorporates the fix.

[2013-05-02 07:20] heartsentwined commented on #43
BC breaks in `5.x` version is rather dramatic, hence I haven't written an upgrade guide yet. The [docs](http://ember-auth.herokuapp.com) should help you upgrade; otherwise please feel free to ask me how to convert a specific usage.

[2013-05-02 07:21] heartsentwined commented on #43
Closing unless issue resurfaces.

[2013-05-02 07:24] heartsentwined commented on #42
@seanrucker the `5.x` version fixes this bug.
BC breaks in `5.x` version is rather dramatic, hence I haven't written an upgrade guide yet. The [docs](http://ember-auth.herokuapp.com) should help you upgrade; otherwise please feel free to ask me how to convert a specific usage.

[2013-05-02 07:24] #42 closed, assigned to nobody

[2013-05-02 07:25] heartsentwined commented on #40
Assuming issue fixed due to inactivity. Please reopen this ticket @octapus if the issue persists.

[2013-05-02 07:25] #40 closed, assigned to nobody

[2013-05-02 07:29] heartsentwined commented on #29
@seanrucker almost fixed in `5.x`, the part that I couldn't get rid of is the authenticated-conditional boilerplate. But this is due to emberjs/ember.js#2041, as you have observed, not ember-auth _per se_.

A minimal route with authenticated-only model is thus:

[code]

Two things in this example:
- the top level namespace `Auth` is gone; you now access a scoped version through `App.Auth`
- `Auth.

[2013-05-02 07:30] heartsentwined commented on #29
Closing since remaining issue belongs to emberjs/ember.js#2041.

[2013-05-02 07:30] #29 closed, assigned to nobody

[2013-05-02 10:35] joscas commented on #43
Many thanks. I'm upgrading my app and I've found an issue. Previously I used this code to conditionally display information in handlebars depending on user login status:

`{{#if Auth.authToken}}`

Now I've tried this that is not accepted by HBs:

`{{#if App.Auth.get('signedIn')}}`

What would be the proper way to do this now?

[2013-05-02 10:41] heartsentwined commented on #43
The following are all equivalents:
- javascript: `App.get('foo').get('bar')`
- javascript: `App.get('foo.bar')`
- javascript: `Ember.get('App.foo.bar')`
- handlebars: `{{App.foo.bar}}`

That's the magic behind ember + handlebars resolving `{{person.account.id}}` and the like.

Anyway, back to your question, the solution is simply `{{#if App.Auth.signedIn}}`. The previous `{{#if Auth.authToken}}` i

[2013-05-02 10:46] joscas commented on #43
Thanks for the explanation!

[2013-05-02 11:04] kevinansfield opened #46 "Auth.jqxhr in new version"
Thank you so much for version 5, it seems to have really cleaned things up!

One thing I have noticed is that under the sign in / sign out events section of http://ember-auth.herokuapp.com/docs it doesn't mention how to access the `jqxhr` object that was previously available at `Auth.jqxhr`

From the source I can see it's available at `App.Auth.get('jqxhr')` but I imagine it will help out new user

[2013-05-02 11:05] joscas commented on #43
Sorry for using this thread for that but here I'm stuck with another upgrade issue. I can't access the user model:

[code]

This is my `App.Auth`:

[code]

Am I missign some step?

[2013-05-02 11:06] kevinansfield opened #47 ""Watching undefined global" warnings in latest version"
After upgrading to v5 I'm seeing quite a few of these warnings in the console:

`WARNING: Watching an undefined global, Ember expects watched globals to be setup by the time the run loop is flushed, check for typos`

Is that something you have seen while working with ember-auth or do you think this is more likely my own code?

[2013-05-02 11:08] heartsentwined commented on #46
It is in the section "Custom response data", which is one of the advanced use cases that are folded by default. I imagine if anybody wants to access `jqxhr`, one would be planning to do something with custom response. Or is it not obvious? I am open to your opinion - I am not a user of `jqxhr`

[2013-05-02 11:09] heartsentwined commented on #47
I have not seen this warning when testing it. But if you have changed nothing except ember-auth, then it should be ember-auth's issue. Could you post your code so that I can try to reproduce it?

[2013-05-02 11:10] heartsentwined commented on #43
I'll test it out at my end, and I'll update you.

[2013-05-02 11:10] kevinansfield commented on #46
OK, sorry, I had completely missed that section!

[2013-05-02 11:13] kevinansfield commented on #47
I just noticed `ember-source` has been bumped from `rc3.2`->`rc3.3`. I'll roll that back to rule out any changes there and report back.

[2013-05-02 11:50] heartsentwined commented on #43
Bug confirmed. Will notify you on fix.

[2013-05-02 14:17] kevinansfield commented on #47
The issue turned out to be a couple of forgotten `Auth.currentUser` calls in some handlebars partials. Oops!

[2013-05-02 14:17] #47 closed, assigned to nobody

[2013-05-02 14:19] heartsentwined commented on #47
Thanks for the issue though, it shows me that I cannot leave out the Upgrade Guide just because it is too dramatic, otherwise someone will miss out something when upgrading, and run into errors. :disappointed:

[2013-05-02 15:07] joscas commented on #43
One more doubt. What would be the exact implementation of this for a route?:

[code]

Currently I have this:

[code]

[2013-05-02 15:19] heartsentwined commented on #43
@joscas fixed the user model issue. Unfortunately, I have to introduce another BC Break for it. `userModel` now expects a string, not a class. So pass `'App.User'` instead of `App.User` to it, and it should work fine. I am staying true to [semver](http://semver.org/) though, so `6.0.0` it is.

[2013-05-02 15:30] heartsentwined commented on #43
@joscas The previous `Auth.Route` had multiple responsibilities.

If you want to redirect unauthenticated users away from the `Auth.Route`, enable the `authRedirectable` module and do the

[code]

as you have mentioned.

If you are looking for the `authAccess` event, again you need to enable the `authRedirectable` module, and then listen to it via the _main auth object_

[code]

instead of on the

[2013-05-02 15:30] joscas commented on #43
Right!, now it attempts to fetch the user but it fails because the request is not including `auth_token`. I'm not sure this is a bug or a problem with my config as there are things I haven't implemented yet.

My console shows this (see there is no token):
`Started GET "/users/5151ef3a1907738a88000001" for 127.0.0.1 at 2013-05-02 17:21:11 +0200`

And my `Auth.conf` stands currently like this:

[cod

[2013-05-02 15:39] kevinansfield opened #48 "`rememberable` module not working"
I have the rememberable module set up in my `auth.coffee` and my server is responding with the correct `remember_token` during sign in but no cookie gets set.

Here is my auth config:

[code]

[2013-05-02 15:40] heartsentwined commented on #43
I'm sorry but I cannot reproduce it, I got the auth token sent fine
![screenshot from 2013-05-02 23 38 52](https://f.cloud.github.com/assets/2252978/454709/86f9c17e-b33e-11e2-9a51-643c3f7bb15b.png)

[2013-05-02 15:42] heartsentwined commented on #43
Reopening though until issue fixed

[2013-05-02 15:46] heartsentwined commented on #48
@kevinansfield I'll copy your setup and try to reproduce it, because I just took a quick look at my sandbox and it's working fine
![screenshot from 2013-05-02 23 45 24](https://f.cloud.github.com/assets/2252978/454759/6881c3bc-b33f-11e2-9ada-76053ce33985.png)

[2013-05-02 15:54] kevinansfield commented on #48
I've just checked in Chrome and the cookie is set there but after refreshing the page or manually going to a different page via the URL it doesn't recognise me as being logged in.

I'll restart Safari and check again for the cookie there.

[2013-05-02 15:56] joscas commented on #43
Let me update everything and see if that problem remains. If it does I'll push my whole branch so that it's easier to reproduce. Currently I'm struggling with this:

[code]

Console says: `Uncaught TypeError: Cannot read property 'AuthRedirectable' of undefined`

Also how do I have to express that in my route? Like this?:

[code]

[2013-05-02 15:57] heartsentwined commented on #43
@joscas is there a dev branch on your [joscas/base_app](https://github.com/joscas/base_app) or something like that? I copied your config, but I still got the auth token sent. One wild guess: perhaps it is related to this caveat?

[2013-05-02 16:03] kevinansfield commented on #48
Ignore the missing cookie problem, it appears that was due to Safari's inspector not actually updating it's cookies display.

The problem with not being automatically signed in when the remember cookie is present is still there.

[2013-05-02 16:04] heartsentwined commented on #43
Got the problem. Move the `require auth` sprockets directive to right after app creation, but before the other parts.

`base_app.js`:

[code]

`application.js`:

[code]

My deepest apologies! I should have made it clear. :sob:  I will add this to the docs.

[2013-05-02 16:05] heartsentwined commented on #43
Leaving issue open until fix confirmed.

[2013-05-02 16:05] heartsentwined commented on #48
Working on it.

[2013-05-02 16:13] heartsentwined commented on #48
Re: the inspector. This has tripped me too, I don't have Safari, but I got a similar problem in Chromium.

There is a refresh button in the inspector
![before](https://f.cloud.github.com/assets/2252978/454914/01c109e0-b343-11e2-92bb-bc0385b3b87d.png)

After clicking it
![after](https://f.cloud.github.com/assets/2252978/454916/0754aca4-b343-11e2-9a26-c22d148900f9.png)

[2013-05-02 16:16] kevinansfield commented on #48
Awesome, thanks for the tip, will remember that when I'm in Chrome. Unfortunately Safari is still lacking on the Inspector front and hasn't implemented that feature yet.

[2013-05-02 16:32] #46 closed, assigned to nobody

[2013-05-02 16:33] joscas commented on #43
Thanks! It almost fixes everything. Stil, I'm getting an `Uncaught ReferenceError: Auth is not defined`  error in my [index_route.js](https://github.com/joscas/base_app/blob/ember-auth5/app/assets/javascripts/routes/index_route.js)

Here's my working branch: [ember-auth-5](https://github.com/joscas/base_app/tree/ember-auth5)

[2013-05-02 16:56] heartsentwined commented on #43
It was another `index_route.js`.

Please update [users/index_route.js](https://github.com/joscas/base_app/blob/ember-auth5/app/assets/javascripts/routes/users/index_route.js):

[code]

[2013-05-02 17:00] joscas commented on #48
I also have this issue. I've noticed that `rememberable` works until I start to add other modules. The problem must be due to interference with `authRedirectable`, `actionRedirectable` or `urlAuthenticatable`

[2013-05-02 17:01] joscas commented on #48
I think it's `urlAuthenticatable` that breaks it.

[2013-05-02 17:09] joscas commented on #43
Arghh, sorry for that :cold_sweat:
Now I get no more errors! Thanks!!!

[2013-05-02 17:42] heartsentwined commented on #48
Fixed in `v6.0.1`.

[2013-05-02 17:48] heartsentwined commented on #43
Glad it fixed your issue.

[2013-05-02 17:48] #43 closed, assigned to nobody

[2013-05-02 17:49] joscas commented on #48
After upgrade I'm still getting the same problem. `urlAuthenticatable` overrides `rememberable`

[2013-05-02 18:01] kevinansfield commented on #48
Same here unfortunately

[2013-05-02 18:12] heartsentwined commented on #48
@joscas and @kevinansfield I cannot reproduce your observation. I put a couple of `console.log()` statements to verify method call orders, and I duplicated all the [settings](https://github.com/joscas/base_app/blob/ember-auth5/app/assets/javascripts/auth.js) over at [joscas/base_app](https://github.com/joscas/base_app) exactly. Here is what I got:

Trial 1: (your app's setting)

[code]

Result
![r

[2013-05-02 18:24] joscas commented on #48
My test works as follows: First I load with remember me. Then I reload the page. If I have `urlAuthenticatable` in my Auth.conf it doesn't load the model:

[code]

Then if I deactivate the module and I reload, I get the user loaded and an auth_token

[2013-05-02 18:30] kevinansfield opened #49 "App.Auth.user not available immediately after redirect"
Steps to reproduce the issue I'm seeing:
1. Access /signup/step_2
2. Redirected to /home/sign_in
3. Sign in successfully
4. Redirected to /signup/step_2

Now at this stage, the `console.log` calls both output `null` yet `App.Auth.get('signedIn')` is `true`. Obviously this then causes the `model` not to be loaded so `step_2` my form is empty.

However, immediately after the last redirect when I am

[2013-05-02 18:31] kevinansfield commented on #49
Sorry, just hit the Post button accidentally. Still working on this issue.

[2013-05-02 18:32] heartsentwined commented on #48
Thanks for the information; I tried your tests, and they are still working fine in my sandbox. Perhaps related to some other config in the app? I'll clone your repo again and test it.

[2013-05-02 18:37] joscas commented on #48
rspec tests are passing because they relate to rails. Cucumber tests pass because the `urlAuthenticatable` module is commented out.

The auth.js file in ember-auth5 branch has to be modified to reproduce the problem: https://github.com/joscas/base_app/blob/ember-auth5/app/assets/javascripts/auth.js

Uncomment and run `rake cucumber`

[2013-05-02 18:37] kevinansfield commented on #49
Updated original with full description.

[2013-05-02 18:40] heartsentwined commented on #48
okay

[2013-05-02 19:56] heartsentwined commented on #48
@joscas I still have no idea what went wrong at your end.

I cloned your repo, checked out `ember-auth5` branch, `bundle install`, `rake db:setup`, and I did a manual browser testing in order to inspect the console.

# urlAuthenticatable on

## Test 1
1. (Manually cleared all local cookies.)
2. Start at http://localhost:3000/#/home
3. Click Sign In. Now at http://localhost:3000/#/sign_in
4. `admin

[2013-05-02 20:04] joscas commented on #48
Well, you're right, it works. A thorough cleanup of cache + assets solved it. Sorry, should have done this first of all.

[2013-05-02 20:05] heartsentwined commented on #49
I'll try to create a minimal test case for it, and I'll update you with results.

[2013-05-02 20:05] heartsentwined commented on #48
Glad you found the solution. :+1:

[2013-05-02 20:05] #48 closed, assigned to nobody

[2013-05-02 20:26] kevinansfield commented on #48
In my case I had missed the `autoRecall: true` option somehow. D'oh!

[2013-05-02 20:31] kevinansfield commented on #49
This could be something else.

I've just tested again now that I've got the `rememberable` module working it seems that `App.Auth.get('user')` returns `null` in all `model` and `setupController` hooks, regardless of it being a redirect or not.

Running `App.Auth.get('user')` in the console once the route has loaded works fine.

[2013-05-02 20:47] kevinansfield commented on #49
`App.Auth.get('userId')` also returns `null`

I believe my server response is correct for the sign-in call:

[code]

[2013-05-03 02:26] heartsentwined commented on #48
Glad it was solved for you too :+1:

[2013-05-03 11:41] heartsentwined commented on #49
Observation confirmed.

[2013-05-03 11:45] heartsentwined commented on #49
What is your expected behavior though? I can make `signedIn` wait until post-sign in triggers have finished loading before becoming `true`, but -

If we make it synchronous, such that it refuses to load your route until it has finished loading, then this would incur at least a double-roundtrip delay (sign in + fetch user), somewhat defeating the purpose of using an async-style ember app.

Or, if w

[2013-05-03 11:47] heartsentwined commented on #49
Yet a third option is to use ember's native observation pattern. Your controller would start with an empty user model - this becoming part of your app's expected behavior. You then define an observer for the path `App.Auth.user`, and then populate the fields afterwards. You might also display a loading gif while this is happening (that's what I did for my own ember apps).

[2013-05-03 11:50] heartsentwined commented on #49
Your observation that

is actually non-deterministic in the ember sense. It is just a coincidence that the model has finished loading when the route does - these two happen asynchronously. Try making your server delay, say, 10 secs before returning the user model, and you will see that the user is still not there when you test for it after the route has finished loading.

[2013-05-03 12:26] kevinansfield commented on #49
I was expecting it to work similarly to if I had `App.User.find(x)` in the `model`, i.e. I'd receive an empty User model in the loading state that is asynchronously populated when the data is available.

[2013-05-03 12:51] kevinansfield commented on #49
I have managed to get this working using your observation pattern by removing everything from the `model` section of the route and adding this to the controller:

[code]

Is there any way to use `App.Auth.get('user')` in a route when it's possible that it hasn't been loaded yet?

[2013-05-03 13:55] heartsentwined commented on #49
No - this is actually not an `ember-auth` specific issue; try replacing `user.profile` with another "vanilla / innocent" model, e.g. `comment.user`, `product.stock`, etc, and (I think) you would get the same results.

The way I tackle this in my ember apps, is to simply set the model as `user`, and then use

[code]

etc, and let ember's view layer bindings do its magic.

[2013-05-03 14:04] kevinansfield commented on #49
Sorry for all the questions, but where are you setting the `model`?

I'm just trying out the observation pattern in a few other places and I'm getting inconsistent behaviour. Sometimes the `content` gets set, other times it doesn't.

[2013-05-03 14:10] heartsentwined commented on #49
No problem, we're all exploring `ember` :smile:

[code]

[code]

[2013-05-03 14:20] heartsentwined commented on #49
The way my suggested observation pattern works, is that it relies on an (implicit to userland code) `App.User.find()` call in `ember-auth`.

Normally, when you `observe` something, you will, of course, call `find()` somewhere in your code, in order to populate the data. You normally care about displaying the data, only that you don't mind its being blank before it's loaded. So you let ember take a

[2013-05-03 14:29] heartsentwined commented on #49
Updated docs to reflect this caveat.

[2013-05-03 14:39] heartsentwined commented on #39
@deepcloud the latest version (`6.x`) of `ember-auth` now attaches itself to the `Ember` namespace as `Ember.Auth`, instead of using its own global `Auth`; furthermore, you now instantiate your own app-specific copy of `ember-auth` through `App.Auth = Ember.Auth.create({})`, so in userland code `ember-auth` would live within your App's namespace too.

I assume that you have already got `ember` to

[2013-05-03 15:57] joscas opened #50 "Auth.signin SyntaxError"
When I attempt to use `Auth.signin` with only `auth_token` and `remember` it doesn't work. If I attempt to do the same from the console I get a `SyntaxError`. It is strange because a dummy token works but a real one doesn't. See below the console output:

Dummy token:

[code]

[code]

Real token:

[code]

[code]

[2013-05-03 17:21] heartsentwined commented on #50
`ember-auth.js:246` reads

[code]

So that would most likely be an invalid JSON response error.

[2013-05-03 17:23] heartsentwined commented on #50
My guess is that your server returns JSON on successful sign in, but just a plain-text error message on error. Your output shows

[code]

which is an error.

[2013-05-03 17:31] joscas commented on #50
Yes, the first request is unauthorized because it uses a dummy token but the second one doesn't even reach the server because it generates a SyntaxError.

This gives syntax error in the console:

[code]

So this is invalid JSON: `{data: {'auth_token': 'SkydDzaQ2yby1cBh4Bq8','remember': true}}`

[code]

[2013-05-03 17:37] heartsentwined commented on #50
This is valid JSON

[code]

Strings in double quotes, both in keys and values.

[This JSON validator](http://jsonformatter.curiousconcept.com/) may help.

[2013-05-03 17:41] joscas commented on #50
Still provoking an error in the console:

[code]

[2013-05-03 17:45] heartsentwined commented on #50
Dear me, we are venturing away from `ember-auth` into pure js syntax issues.

This is valid js object:

[code]

(_No_ quotes around keys.)

You can't pass JSONs around in js, you pass objects around.

JSON.parse expects a JSON _string_, so you do

[code]

[2013-05-03 17:48] heartsentwined commented on #50
MDN references:
- [object](https://developer.mozilla.org/en-US/docs/JavaScript/Guide/Working_with_Objects)
- [json](https://developer.mozilla.org/en-US/docs/JSON)

[2013-05-03 17:51] joscas commented on #50
So sorry, the fact that my test with a dummy token worked (by pure chance I guess) made me think the problem was with the token itself. Many thanks for your help.

[2013-05-03 17:51] #50 closed, assigned to nobody

[2013-05-04 03:03] heartsentwined commented on #47
@kevinansfield @joscas an upgrade guide for the new version is out, at the [changelog](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide), just in case you want to reference it or use it as a checklist.

[2013-05-04 18:51] kevinansfield opened #51 "Docs: Ember.Auth.create must be called before instantiating store"
I just ran into an issue where the `auth_token` wasn't being added to the `params` data.

The solution was to swap the order these two lines in `application.js` from:

[code]

to

[code]

Where `./app/auth` is the file that contains the ember-auth setup.

Perhaps it would be good to mention in the docs that `Ember.Auth.create` setup must happen before `DS.Store.extend`?

[2013-05-05 02:36] heartsentwined commented on #51
It's already there in the first section of the [docs](http://ember-auth.herokuapp.com/docs).

[2013-05-05 02:36] #51 closed, assigned to nobody

[2013-05-06 08:39] joscas commented on #47
Thanks, that is very useful.

[2013-05-15 07:37] ralfschimmel opened #52 "Summary and temporary hack for improper order of redirect() and model() calls by ember."
Not so much an issue, more a summary with temporary solution:

After reading:

 emberjs/ember.js#2041
 emberjs/ember.js#1786
 #29
 https://gist.github.com/stefanpenner/9ccb0503e451a9792ed0

I came up with the following solution for a route which is working with the current ember.js, ember-data and ember-auth, in combination with the 'remember' module, when loading a 'deeplink' with models that req

[2013-05-15 07:59] kevinansfield opened #53 "Ember Model compatibility"
Are there any plans to support libraries other than Ember Data such as Ember Model (https://github.com/ebryn/ember-model)?

Is this something that would be possible to override in-app rather than in the ember-auth library?

[2013-05-15 09:47] jiripospisil commented on #53
I was trying the very same thing yesterday and came up with this: https://gist.github.com/mekishizufu/5582787 It patches the RESTAdapter that Ember Model ships with and seems to work fine. I am not happy with the amount of code it duplicates but it's probably good enough for now.

[2013-05-15 11:36] joscas commented on #52
+1 This hack is the only way I know that would allow reloading routes that require authorization so far. I've tried using observers to set the content once Auth is completed but couldn't make this kind of strategy work. Maybe someone could post a working example with observers?. I hope there will be an easier way to do that in the near future once Ember.js and Ember data become more mature.

[2013-05-15 15:00] heartsentwined commented on #53
Spot on @mekishizufu.

Long story: there are only two `ember-data`-related pieces of code in `ember-auth`.

First, the patching of `ember-data`'s `DS.RESTAdapter`. Basically, we just have to route all adapter requests through `App.Auth.send(settings)`. With the default `jQuery` `requestAdapter`, `settings` would be the params for `jQuery.ajax(settings)`. The `emberData` module just normalizes the

[2013-05-15 15:21] heartsentwined commented on #52
A very annoying issue for now, but indeed I'm working on a demo todo app that includes CRUD operations on models, auth-only or not. I cannot make a fully transparent API that would not require any change to client-side code, but here is what I have so far: https://gist.github.com/heartsentwined/5584732

It's the best I can come up with so far, but it still requires userland code to include an `Aut

[2013-05-15 15:28] ralfschimmel commented on #52
Seems like a viable option, preventing duplicate code.
I'll give it a shot tonight to see if it works!

[2013-05-15 15:30] heartsentwined commented on #52
@ralfschimmel let me reiterate that it is a **work-in-progress** :no_mouth:

[2013-05-15 15:48] jiripospisil commented on #53
It should be _as long as_ your model uses the RESTAdapter adapter - in Ember
Model every model might use a different one. Often you want to make a custom
ajax request or your own adapter (legacy APIs etc.) and in that case you need to
use the `App.Auth.send` method instead of the usual `Ember.$.ajax` as stated
above.

This works fine as Ember Model tries to mimic Ember Data's APIs. In fact, I am
a

[2013-05-15 16:20] heartsentwined commented on #53
You're the Ember Model expert here :smile:

[2013-05-16 07:18] rystraum opened #54 "Setting activate callback in ApplicationRoute tries calling 'apply' on undefined"
Using:
Ember.VERSION : 1.0.0-rc.3
Handlebars.VERSION : 1.0.0-rc.3
jQuery.VERSION : 1.9.1
ember-auth-rails (4.0.1)

modules: combination of both actionRedirectable and rememberable, load order doesn't matter, inclusion or exclusion of emberData doesn't make any difference

Not including ember-auth in my application.coffee doesn't bring up the error so I'm fairly certain it's ember-auth's modules th

[2013-05-18 08:05] darthdeus commented on #52
I'm having the same problem with the observers, it doesn't seem to work properly.

This also brings me to a little offtopic, how do you guys solve having a different layout for user with/without session?

[2013-05-18 09:27] jiripospisil commented on #24
@dave8401 Could you share your solution to the problem? I am seeing something very similar. To use your example, refresh on `#/rooms/room/47` causes the URL to change to `#/rooms` while rendering _both_ `rooms.index` and `rooms.room` at the same time. Tested with latest ember.js and ember-auth, modules: _["emberData", "rememberable", "authRedirectable", "actionRedirectable"]_

/cc @heartsentwined

[2013-05-18 12:16] darthdeus commented on #24
I'm also experiencing this :( I tried debugging ember-auth, but wasn't really able to find the source of the issue

[2013-05-18 18:20] jiripospisil commented on #24
So it seems I missed the `signInSmart` flag in the `actionRedirectable` settings. If I set it to `true` it kinda works\* and I am redirected back to where I was. This, however, raises a question of why I didn't end up in the static `signInRoute` route in the previous case.

\* There's still something weird going on. Imagine this setting:

[code]

If I enter the app's root (dashboard) signed in, si

[2013-05-20 03:33] heartsentwined commented on #24
@mekishizufu can you post your set of routes please? I am confused, so you made `index` redirect to `dashboard` or what?

[2013-05-20 03:36] heartsentwined commented on #24
Also, which version of `ember-auth` are you using, @darthdeus and @mekishizufu ? The original issue here refers to an old version with an `Auth.Route`, which has been refactored out and its functionality split into several modules - the relevant one here should be `authRedirectable` and `actionRedirectable` if I read your use cases correctly.

[2013-05-20 03:36] heartsentwined commented on #24
Reopening issue until re-resolving.

[2013-05-20 03:38] heartsentwined commented on #52
@darthdeus I'll post the full solution once I get it done.

As for your "offtopic", are you looking for simply this?

[code]

[2013-05-20 03:39] heartsentwined commented on #54
Added this to docs. Thanks @rystraum!

[2013-05-20 03:39] #54 closed, assigned to nobody

[2013-05-20 03:41] heartsentwined commented on #53
Closing issue (`won't implement`) unless Ember Model gathers more users, or it no longer declares to deprecate itself in favor of Ember Data.

[2013-05-20 03:43] heartsentwined commented on #39
Closing. Assuming either that `ember` works with RequireJS, and `ember-auth` will work also by attaching itself to the `Ember` namespace; or that both won't work (in this case, `wontfix` because `ember-auth` depends on `ember` anyway).

[2013-05-20 03:43] #39 closed, assigned to nobody

[2013-05-20 07:58] jiripospisil commented on #24
@heartsentwined Sorry I wasn't clear enough. The dashboard route is mapped to `/`. I will create a sample app.

[2013-05-21 01:14] mjallday opened #55 "Cross domain, async calls no longer working with FireFox"
I noticed that when firing ajax calls ember-auth is [setting](https://github.com/heartsentwined/ember-auth/blob/28ac6bccd6847c2b0b0898c36add98b2b69213da/lib/module/url-authenticatable.em#L47) `async: false` and this, in combination with my apps `withCredentials: true` flag, is causing [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=701787) to no longer work.

My initial reaction was to remo

[2013-05-21 03:20] heartsentwined commented on #55
The same reason behind both places (auto-recall in `rememberable` and auto-authenticate in `urlAuthenticatable`): to prevent `ember` from executing code meant for non-authenticated users, in case we have a valid user session. Issuing a blocking API call would ensure that user session is properly setup before `ember` does its own bootstrapping.

Simple use case: you have setup your app to redirect

[2013-05-21 14:04] imjonsnooow opened #56 "Auth.send - TypeError: Cannot read property 'auth_token' of undefined"
While trying to use Auth.send, we get the TypeError included in the issue title. We need the auth_token to end up at the server, but this error prevents that. I can't tell if it's a configuration problem, or if there's a problem in the underlying code.

Here's my Auth configuration:

[code]

The line in ember-auth.js that we're crashing on:

[code]

What am I doing wrong?

[2013-05-21 14:12] heartsentwined commented on #56
@scaswell1 would you mind upgrading to the latest version (v`6.0.3`)? The above style shows v`4.x` or below, and it's pretty much spaghetti code back then. The [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) can help, and the official [docs](http://ember-auth.herokuapp.com) is actually a code-generator that will generate the `ember-auth` code yo

[2013-05-21 14:23] imjonsnooow commented on #56
@heartsentwined my Rails `bundle show` says I'm running `ember-auth-rails (4.0.1)` and `ember-auth-source (6.0.3)`.

I think I am using the latest version, but possibly in the incorrect style -- I just recently updated to this new version. Most of what I'm seeing in my code seems to me in keeping with the information listed on the official docs.

[2013-05-21 14:47] heartsentwined commented on #56
1. The docs suggest that you scope your app's `Auth` within the app namespace (`FlexiconEmber.Auth`) to ensure that it is available app-wide. You can use an unscoped `Auth`, just make sure that it is available (not `var`-ed, or make it on `window.Auth`, etc).
2. `urlAuthenticationRouteScope` is gone. (`both` is now the default; having that line there won't hurt, it just does nothing.)
3. But I see

[2013-05-21 17:21] imjonsnooow commented on #56
1. I have gone through and scoped `Auth` within our `FlexiconEmber` namespace for good measure.
2. As `urlAuthenticationRouteScope` defaults, I have removed it from the Auth create call.
3. I believe we may, and I have added `urlAuthenticable` back into the config
4. I noticed in the offending line in my original post that `get$(get$(this, 'auth')` was undefined unless I had `auth` initialized, so

[2013-05-21 17:46] heartsentwined commented on #56
The `App.Auth.send()` method expects polymorphic parameters depending on the underlying `requestAdapter` that was chosen. This defaults to `jquery`, and the `jquery` adapter delegates to [`jQuery.ajax()`](http://api.jquery.com/jQuery.ajax/#jQuery-ajax-settings) (after adding auth data). In particular, it uses [`jquery.ajax(settings)`](http://api.jquery.com/jQuery.ajax/#jQuery-ajax-settings), where

[2013-05-21 17:50] imjonsnooow commented on #56
That makes a lot of sense. After going through this, I started to suspect I was utilizing the `send` method wrong.
However, this approach attempted to access the following url:

[code]

It seems the auth_token is being appended incorrectly. Is there a setting to manage this?

[2013-05-21 17:54] heartsentwined commented on #56
One more note: `urlAuthenticatable` needs further configuration. Please refer to the **Pre-authentication by URL query params** section of the [docs](http://ember-auth.herokuapp.com/docs) for details.

[2013-05-21 17:59] heartsentwined commented on #56
Let me give a try in my sandbox, and I'll get back to you once I nailed down the problem.

[2013-05-21 18:03] heartsentwined commented on #56
One more thing: what is the expected HTTP verb for `upvote/68.json`? `POST`?

[2013-05-21 18:05] imjonsnooow commented on #56
Thanks - I'll wait to hear back.
Also, they're set up as `GET` routes, but that could be changed if necessary.

[2013-05-23 01:39] inscore opened #57 "GPL 3.0"
I think the GPL 3.0 licence might prevent me and others from using ember-auth... "The GNU General Public License does not permit incorporating your program into proprietary programs."

Please consider a more permissive licence, such as MIT, for ember-auth and ember-auth-rails so that I and others can use ember-auth in projects where we don't intend to release the full application source.

[2013-05-23 15:14] asia653 opened #58 "Signin Call to users/:id?"
Why is there a call to GET http://localhost:3000/users/1 404 (Not Found) after signin if the json returned by that url is not stored anywhere? The user id seems to be available regardless of whether that restful route is responding or not

[2013-05-25 11:41] darthdeus commented on #52
@heartsentwined Unfortunately no, what I meant is different layout with outlets, for example

[code]

This is oversimplified, but the general problem is that I need a different layout wrapping the main outlet, because the login screen has a completely different design.

[2013-05-25 11:42] darthdeus commented on #58
Isn't this just to verify the token?

[2013-05-25 11:56] heartsentwined commented on #52
@darthdeus Ember has a dedicated functionality for [adding layout to views](http://emberjs.com/guides/views/adding-layouts-to-views/). I haven't tried but I _guess_ you can make `layoutName` a computed property observing on `App.Auth.signedIn`.

[2013-05-25 11:57] heartsentwined commented on #58
@Edwardzyc can you give me an example of your setup? This might or might not be a bug depending on your demonstrated use case. A sample of your json response (`404` or successful) would also be helpful.

[2013-05-25 12:05] heartsentwined commented on #52
Failing that (i.e. ember doesn't automatically `rerender()` the view), then I think it would be more complicated if you want to do it in one template. Again I venture to _guess_ that you can't just move the `outlet` away, because `ember` relies on

[code]

tags, particularly the "id" part, to update the hooks. I haven't dug deep into `ember`'s code yet, but it depends on whether `ember` can `reren

[2013-05-25 12:41] martinstannard opened #59 "STI models"
I'm using a rails backend with an STI Users class to implement mulitple roles within my app. I'd like to be able to signin as an Admin, Educator or Parent and receive back the relevent ember model. I've implemented signin as described in the docs, but can't work out how to have ember-auth use the correct model depending on the type of user I'm trying to authenticate.

For instance, if I signin as

[2013-05-25 13:20] darthdeus commented on #53
I think Ember Model should be part of ember-auth, just because it is the go-to solution for anyone not using Ember Data. It also doesn't have the deprecation notice anymore :)

Here's a sample implementation of Ember Model module for the Ember.RESTAdapter https://gist.github.com/darthdeus/286a0ad56fce37261761 and JS counterpart https://gist.github.com/darthdeus/615a2708734894680c54

I wanted to ma

[2013-05-25 13:20] heartsentwined commented on #59
Consider using the added polymorphism introduced in emberjs/data#750, and give `ember-auth` a unified `User` / `Member` / whatever model. I wouldn't want to add a fresh layer of polymorphism support to `ember-auth` when this functionality is already out there.

[2013-05-25 13:29] heartsentwined commented on #53
I just checked, the deprecation notice is still there

The folks over at `ember-data` are also working on [`json-api`](https://github.com/json-api/json-api), so overall I think `ember-data` is working towards the scenario described above.

I have nothing against Ember Model specifically, just that it declares to deprecate itself in favor of Ember Data, and I question the wisdom of including suppor

[2013-05-25 13:32] heartsentwined commented on #53
Lack of `ember-model-source` gem is not an obstacle though, since the module is off by default, so we can trust that anyone who actively chooses to enable the module should know what he is doing (and have built and included the Ember Model library). In any case, I see that you have put a guard clause checking for the existence of `Ember.RESTAdapter` also.

[2013-05-25 23:22] martinstannard commented on #59
Thanks, I'll look into that as a solution.

[2013-05-25 23:22] #59 closed, assigned to nobody

[2013-05-27 20:04] ralfschimmel opened #60 "'FormData' is undefined"
In IE9 normal mode i'm getting this error:

'FormData' is undefined

It seems that it tries to use FormData which is not supported in IE9, is there any way to tell ember-auth not to use FormData? I did see some references on this but cannot find how to do this in the docs.

Using ember rc.3 and jquery 1.9.1.

Config:

[code]

[2013-05-28 15:05] hamstarr commented on #57
+1
+1 for the ember-auth-rails gem too.

[2013-05-29 09:05] #57 closed, assigned to nobody

[2013-05-29 09:15] #60 closed, assigned to nobody

[2013-05-29 09:26] #56 closed, assigned to nobody

[2013-05-29 09:28] heartsentwined commented on #56
@scaswell1 sorry for the wait; it's a bug, and fixed on `6.0.5` now.

[2013-05-29 09:29] heartsentwined commented on #60
@ralfschimmel _should_ be fixed on `6.0.5` (a very simple fix _in theory_, because it's just an undefined variable), but I don't have an IE at hand right now to absolutely verify.

[2013-05-29 09:31] heartsentwined commented on #57
@inscore @hamstarr `ember-auth` is now licensed under MIT. I would have wanted to dual-license it, but `package.json` doesn't support multiple licenses :disappointed: (`gemspec` does, though, but better keep it uniform)

[2013-05-29 09:32] heartsentwined commented on #55
@mjallday what is the status of this issue? do you still need anything fixed on the `ember-auth` side?

[2013-05-29 11:30] hamstarr commented on #57
Excellent!  Thanks.

On 29 May 2013 10:31, heartsentwined notifications@github.com wrote:

##

Simon Hamilton
RUMBLE LABS
rumblelabs.com
+442895680011
@hamstarr

[2013-05-29 16:11] asia653 commented on #58
I've noticed App.Auth.get('user') fails unless the call to the users/:id passes so I assume that it is grabbing user object.

Anyways, looks like it is intended behaviour because it is going to the show action of the user controller. The 404 is actually the rails error message "The action 'show' could not be found for UsersController"

[2013-05-29 16:11] #58 closed, assigned to nobody

[2013-05-29 23:13] inscore commented on #57
Thanks!

[2013-05-29 23:42] brandonparsons opened #61 "CSRF?"
Good afternoon,

I have been doing some pondering about client side interactions with server side authentication, and how that ties into `ember-auth` and `ember.js`.

Given that the `auth_token` is passed to the Rails API on each request, is CSRF protection still required? (Assume that the original authentication is completed using SSL and no XSS vulnerability exists).

Given that an ember app can

[2013-05-30 03:02] mjallday commented on #55
I'm not 100% sure to be honest!

We can change the way we pass with creds around to work around the way ember auth works but is that what's best for your product?

If no one else is running into this issue then I guess we are the outliers and should conform so you can close it until more people run into the same issue unless you can think of a better way to achieve the blocking requests.

On May 2

[2013-05-30 03:11] heartsentwined commented on #55
Well I had wanted to find a better way to when developing these features, but I dugged into `ember` and i couldn't find any such API. If `ember` releases an official API for "pausing" and "resuming" the app initialization, then we would gladly adopt it. The closest to it now is `deferReadiness()` and `advanceReadiness()`, but it is restricted to a one-off usage, i.e. we cannot pause, resume, pause

[2013-05-30 03:11] #55 closed, assigned to nobody

[2013-05-30 18:06] heartsentwined commented on #61
Good question. I pondered upon the same question myself when I started writing `ember` apps. I believe that there is no definite answer, so here are several angles (in no particular order):

# Rails as API

Your server now acts as an API. Essentially you _want_ to allow access to your API from anywhere (because people can access your ember site from anywhere). I'll quote myself from the [security]

[2013-05-30 21:02] brandonparsons commented on #61
Thank you very much for the detailed reply!

I have certainly learned a lot over the last few days trying to read up on
CSRF and figure out what I should be worried about.  I think the two most
important realizations I've had (and you mentioned them below) are:
- Using Rails strictly for the API -- you **want** to be able to hit the
  service from anywhere, not just from your website.  Seems like

[2013-05-31 18:55] tobiaswerner opened #62 "What about kind of "browsersessionable"?"
If I login with valid credentials I would expect the application to log me in as I open it e.g. in another browser tab. We are of course in the same session...

I already thought about a new Devise module serializing a 'browsersessiontoken' in a session cookie - but I'm not sure if it isn't like breaking a butterfly on a wheel.
You know what I mean? I guess it's "too much".

Any ideas I didn't min

[2013-06-01 00:28] flynfish commented on #62
Interesting, I was just thinking about  the need for something like this. Would love to hear @heartsentwined's thoughts on your solution.

[2013-06-01 00:39] flynfish opened #63 "Nested tokenIdKey"
I got hung up for a while trying to figure out why things weren't working. Turns out it was because my api was returning the serialized user from Session Create method and not the top level {auth_token: 'token', user_id: '123'}  that is expected from ember-auth.

Is there a way to allow the tokenIdKey config parameter to be something like 'user.user_id' and have the ember-auth deserialize method u

[2013-06-01 10:48] tobiaswerner commented on #62
Just made a PR.
https://github.com/heartsentwined/ember-auth/pull/64

Can I link the PR and this discussion?

//
Roughly untested devise extension here.
https://github.com/tobiaswerner/devise-browsersessionable

[2013-06-03 04:45] flynfish commented on #63
More info: so rather than `data[@auth.tokenKey]` we could use `Ember.get` since it allows nested string key:

config:

[code]

[code]

The one problem with this is that the tokenKey is also used when appending to the url for any api calls, so you would have something like `api.example.com/users?user.auth_token=123121`.  So what if 2 new nested config keys were created called `tokenKeyNested` and `

[2013-06-03 05:07] heartsentwined commented on #61
Cookies. How you want them to behave is again a matter of preference and individual app use case. I did a (not too deep) write up in the [tutorial](https://github.com/heartsentwined/ember-auth-rails-demo/wiki/Model). In short:

[2013-06-03 05:43] heartsentwined commented on #63
You can implement your own `strategy` adapter for this use case. (And this is the intended usage pattern.) Minimal code sample (in [`ember-script`](http://emberscript.com/)):

[code]

(Of course you can also `reopen` the `token` strategy and just modify what you need.)

---

### serialize

`serialize(opts)` will be called on `signIn`, `signOut` and `send` methods. `opts` is the options parameter t

[2013-06-03 08:07] heartsentwined commented on #62
A good idea in general, a few thoughts:

(in no particular order, not objecting the idea, just what came to mind. also let's discuss this and #64 PR here.)
- is this feature a more ember-level concern though? If a user expects one app's session to show up on another browser tab, then this could extend to other ember app state? e.g. models?
- \- or the converse is true? that if one app's state will

[2013-06-03 11:11] heartsentwined commented on #63
Added: using `Em.get()` for the auth token (and others) is not possible, for parallel reasons. It can read nested keys, sure, with the dot-key syntax; but when serializing data back to the API, the expected format is a plain object, not an `Em.Object`. Hence, we cannot use `Em.set()` as the converse; the alternative of using plain `[]` would result in, as you observed, a literal dot-key, which is

[2013-06-03 11:24] brandonparsons commented on #61
Thanks for writing this all up.  I think I have a much better handle on this now.

[2013-06-03 11:24] #61 closed, assigned to nobody

[2013-06-03 16:31] tobiaswerner commented on #62
Thanks for sharing your thoughts about this. Let's look what I thought during the last hour..
- more a ember-level concern: you are totally right. "Sharing" application state between different tabs would mean it have to be a framework concern. Already "produced" state could in fact affect behaviour. If talking from a SinglePage app we wouldn't share state between tabs, but personally I didn't unde

[2013-06-03 17:52] heartsentwined commented on #62
- IMHO we should put this module on hold for now, and, as you mentioned, open an issue over at [ember](https://github.com/emberjs/ember.js) and see if they have any plans for session persistence.
- It's not like storing client state, it's more like how to maintain data consistency across a multi-user app. Simple example: user A deletes a `Foo`, and this change is propagated to the server (successf

[2013-06-03 18:07] tobiaswerner commented on #62
Yeah, agree. Lets hold this here.
Thanks for the explanation in your second point. Now I got it.
The last point, you named it timeoutable-module, is exactly what I had in mind.

[2013-06-03 18:50] flynfish commented on #62
I just wanted to clarify... so a timeoutable module is going to be developed?

[2013-06-03 18:51] heartsentwined commented on #62
@flynfish it will.

[2013-06-05 00:09] flynfish commented on #63
Thanks for all the info, I really appreciate it! I will let you know if I have any more questions related to this when I get the chance to implement it.

[2013-06-09 14:51] brandonparsons opened #65 "Auth Token not being sent (new version)"
Hi there,

Sorry to open up a very similar issue (see https://github.com/heartsentwined/ember-auth/issues/34).

I've upgraded to the new version of ember-auth, and I've tried to copy your demo exactly.  Ember auth is properly signing in (the AuthView changes, etc.), but it is not sending the auth_token along with all requests after signin.

My problem last time was that I was not using the Auth.RE

[2013-06-09 16:39] brandonparsons commented on #65
Think I might have sorted it out.  Need to require the `auth.coffee` file prior to the `store.coffee` file. I will reopen later if it is still blowing up on me.

[2013-06-09 16:39] #65 closed, assigned to nobody

[2013-06-13 22:01] flynfish commented on #49
I am having a similar issue. I have the user in a dropdown in the nav, so there isn't a route for this since it is show on every route.

I have this in my template: `{{App.Auth.user.email}}`, but there is a timing issue so it isn't always populated. How can I set the user so I have access to it in the template and it has embers view layer bindings if there isn't a specific route on which to set th

[2013-06-17 11:13] valpackett commented on #31
I have the same issue, but with any DELETE requests, not just signing out. There's no auth_token in params when a DELETE request is made from Capybara :-(

[2013-06-17 11:33] valpackett commented on #31
This is so weird. From the WebKit point of view, everything is exactly the same in Opera Next and PhantomJS. Both in the Network tab and in the debugger (breakpoint at [jquery.em#L30](https://github.com/heartsentwined/ember-auth/blob/master/lib/request/jquery.em#L30)). But from Opera Next, Rails gets the auth_token. From PhantomJS, Rails doesn't => 401.

![opera_vs_phantom](https://f.cloud.github.

[2013-06-17 11:50] valpackett commented on #31
mitmproxy confirms the issue is on the PhantomJS side:
![safari_vs_phantom_mitmproxy](https://f.cloud.github.com/assets/208340/661885/046f7d00-d744-11e2-9897-aa831005c43f.png)

[2013-06-17 11:51] valpackett commented on #31
Okay, [the issue exists in PhantomJS tracker](https://github.com/ariya/phantomjs/issues/10873). This can be closed.

I think using a header is a possible fix for ember-auth users.

[2013-06-17 13:45] heartsentwined commented on #31
Acknowledged.

[2013-06-17 13:45] #31 closed, assigned to nobody

[2013-06-22 13:54] imanel commented on #53
I hope that you are aware that this is ironical statement and they have no plans to deprecate it right? There is no way that all API's will be build under one convention, and without that Ember Data is hard to work with. I would also ask for support for Ember Model - looks like @darthdeus path should work.

[2013-06-24 17:26] bakura10 opened #66 "Take advantage of new router features"
Hi,

I'm not an EmberJS expert (especially about its internals), but it seems that the new router rewrite introduced in RC6 contains some interesting stuff for you that could reduce your code (https://machty.s3.amazonaws.com/ember-facelift-presentation/index.html#/3)

Thanks !

[2013-06-24 20:02] heartsentwined commented on #66
already working on it

[2013-06-24 20:13] heartsentwined commented on #24
@mekishizufu is your sample app up yet? This issue is going nowhere because I cannot reproduce and locate the error.

[2013-06-24 20:17] heartsentwined commented on #49
Update: ember has got a new router, which is heavily relevant to authenticated-backed apps. I'm working with it to update ember-auth with the new APIs. For now, this issue is put on hold - I'll reproduce the scenario after I finish with the new router, and see if the issue persists.

Ref:
- [gist](https://gist.github.com/machty/5723945)
- [presentation](https://machty.s3.amazonaws.com/ember-faceli

[2013-06-24 20:17] heartsentwined commented on #52
Update: ember has got a new router, which is heavily relevant to authenticated-backed apps. I'm working with it to update ember-auth with the new APIs. For now, this issue is put on hold - I'll reproduce the scenario after I finish with the new router, and see if the issue persists.

Ref:
- [gist](https://gist.github.com/machty/5723945)
- [presentation](https://machty.s3.amazonaws.com/ember-faceli

[2013-06-24 20:47] jiripospisil commented on #24
Not yet, but I am not sure whether it's worth making at this point. Ember (and our apps, not using ember-auth at  the moment) has moved on to the new router, which works beautifully for auth purposes, and you are very likely  rewriting all of the modules anyway.

[2013-06-25 09:59] bugant opened #67 "Is it possible to set a token to be used?"
Is it possible to set the value of the authToken to be used via code?

I've tried App.Auth.set('authToken', 'foo') but it is not added to request headers in subsequent requests.

I need this since I have a never expiring token and if I try to use rememberable it expects to get an url where to retrive a new token given the old one.

[2013-06-25 12:17] ralfschimmel commented on #52
The new router should absolutely fix our issues, they did an awesome job on that.
Looking forward to your new implementation, and good luck!

[2013-06-27 15:16] valpackett opened #68 "Doesn't work with rc6"
[code]

(ActionRedirectable.redirect)

Everything works fine when I change Ember rc6 back to rc5

[2013-06-27 15:26] asia653 opened #69 "ActionRedirectable"
Has this been broken from the last few patches?

Using it, if I want to go to a direct route in my application(/#/events) via a new tab in the browser or a refresh, the application has to reauthenticate me via remember_token(which makes sense, no session exist in api app).

Since it reauthenticate me, actionredirectable redirects me back to my 'home' route and that breaks the html layout.

[2013-06-27 16:02] asia653 commented on #69
You can slightly reproduce this via the sample application here: https://github.com/joscas/base_app

Signup with a user.
Signout.
Signin with remember me enabled

Open a new tab in your browser and paste in https://starter-app.herokuapp.com/#/users/
EmberAuth will redirect us to the home route because we got just authenticated in the new tab, but you'll also see a list of the users. Is this intend

[2013-06-27 18:44] joscas commented on #69
Upps. That is not the expected behavior at all... Let me investigate this.

[2013-06-27 18:53] joscas commented on #69
First af all, let's make clear that my demo base-app is not the official demo application for ember-auth. Also the online version is not running with the latest version of ember-auth. I was waiting for the next version of ember-auth to upgrade because I assume it will work with the new router version of ember.
Finally, since the list of signed-up users is something that shouldn't be public, I've t

[2013-06-27 19:09] joscas commented on #69
In any case, the backend should never return the list of users for a non admin user. So at list this problem is partially related to a bug which has nothing to do with ember-auth.

[2013-06-27 19:39] asia653 commented on #69
I am aware that of the security problem but were you able to reproduce the redirect bug that this ticket was originally intended for?

[2013-06-28 00:20] heartsentwined commented on #68
No, it doesn't work with rc6 yet - I'm writing the upgrade now

[2013-06-28 00:22] heartsentwined commented on #69
We'll wait for status update from @joscas for this issue; in any case I'm working with the rc6 upgrade now (current version will simply break) so this'll have to wait.

[2013-06-28 13:56] joscas commented on #69
I'll work on a fix for the backend security in my example app but won't test the redirection problem until we have an ember-auth upgrade for rc6. It looks like this upgrade will solve important issues and I think it's worth being patient and letting @heartsentwined do his part.

[2013-06-29 05:07] ayarulin opened #70 "Proposal: only extend Ember.Auth, not create it"
I have some design proposals, that should make this awesome gem more handy, and it will better fit the Ember style :)
- App.Auth should be a class, not an instance,
- Auth Mixins should be a part of Auth namespace, not the 'auth' instance
- And finally 'auth' instance should be created in app initializer, and injected into container like 'auth:main'. (It also can be injected in all routes and cont

[2013-06-30 19:34] dustMason commented on #66
+1!

[2013-07-01 03:31] heartsentwined commented on #69
`7.x` branch now released, with rc6 (new router!) support. [changelog](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md), [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide), [docs](http://ember-auth.herokuapp.com/docs) and [demo](https://github.com/heartsentwined/ember-auth-rails-demo/) all properly updated. Main notes:
- `embe

[2013-07-01 03:31] heartsentwined commented on #68
`7.x` branch now released, with rc6 (new router!) support. [changelog](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md), [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide), [docs](http://ember-auth.herokuapp.com/docs) and [demo](https://github.com/heartsentwined/ember-auth-rails-demo/) all properly updated. Main notes:
- `embe

[2013-07-01 03:31] #68 closed, assigned to nobody

[2013-07-01 03:33] heartsentwined commented on #66
`7.x` branch now released, with rc6 (new router!) support. [changelog](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md), [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide), [docs](http://ember-auth.herokuapp.com/docs) and [demo](https://github.com/heartsentwined/ember-auth-rails-demo/) all properly updated. Main notes:
- `embe

[2013-07-01 03:33] #66 closed, assigned to nobody

[2013-07-01 03:38] heartsentwined commented on #52
New router solves all our problems here. We don't have to touch `redirect()` or `model()`. The `model()` hook can use the standard ember API in userland code. However, it does rely on redirection, as

---

`7.x` branch now released, with rc6 (new router!) support. [changelog](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md), [upgrade guide](https://github.com/heartsentwined/e

[2013-07-01 03:38] #52 closed, assigned to nobody

[2013-07-01 03:48] heartsentwined commented on #49
`7.x` branch now released, with rc6 (new router!) support. [changelog](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md), [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide), [docs](http://ember-auth.herokuapp.com/docs) and [demo](https://github.com/heartsentwined/ember-auth-rails-demo/) all properly updated. Main notes:
- `embe

[2013-07-01 03:56] heartsentwined commented on #24
`7.x` branch now released, with rc6 (new router!) support. [changelog](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md), [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide), [docs](http://ember-auth.herokuapp.com/docs) and [demo](https://github.com/heartsentwined/ember-auth-rails-demo/) all properly updated. Main notes:
- `embe

[2013-07-01 04:10] heartsentwined commented on #70
Frankly, I am not familiar with this pattern enough to either comment on it or implement it. Just two quick thoughts:

First, the original intention is that `Ember.Auth` is a class, while `App.Auth` is the instance. The latter's purpose is to allow access from all parts of the app, so I chose to register a variable on the `App` namespace. It could have been a global variable `foo` for that matter,

[2013-07-01 07:07] ayarulin commented on #70
@heartsentwined, exactly, type injection allows us to access variable from any object of that type. Actually the only blocker of this approach is that for now we access to mixins from an current instance of Em.Auth. To be more clear I will make PR ASAP.

[2013-07-02 13:40] kevinansfield commented on #69
I'm not sure if this is the same issue but since upgrading to `7.0` when I directly access a route (via url/refresh) that includes `authRedirectable` and I have a valid remember_me cookie I am re-authenticated but redirected to the route specified in `signInRoute`.

Previously, accessing one of these routes would error as it tried to access restricted server routes without a token so it has defini

[2013-07-02 14:42] ralfschimmel opened #71 "signOut not sending token"
I am using token authentication and everything works as expected in 7.0.0 except the signOut.

It sends a DELETE to the specified endpoint but it does not send the token. Without the token the sever cannot identify the user and thus cannot terminate the session.

Is this a bug or is it by design?

[2013-07-02 15:09] asia653 commented on #69
About to test 7.x but @kevinansfield seems to have the same issue.

[2013-07-02 16:17] asia653 commented on #69
Mangled template fixed. Awesome work on the new release @heartsentwined.

@kevinansfield, I am getting the same "issue"(if it can be called that). Might be expected behaviour. For now, I'm closing this because the problem originally referenced has been fixed.

[2013-07-02 16:17] #69 closed, assigned to nobody

[2013-07-02 18:07] film42 opened #72 ""rememberable" module not obeying autoRecall"
Everything is working great except `rememberable` does not `autoRecall`.

The strange thing is that if I do `App.Auth.get('module.rememberable').recall()` then it makes the request and works, so I know it's not a configuration problem.

I even experimented with the example app, literally copying everything verbatim and still nothing. Perhaps this is a bug because I use `baseUrl: 'http://localhost:

[2013-07-02 18:40] film42 commented on #72
I can add the following right below it to make it _kinda_ work

[code]

[2013-07-03 02:42] heartsentwined commented on #71
Are you signed in in the first place? The [demo app](http://ember-auth-rails-demo.herokuapp.com/) is working as expected - I manually inspected the sent payload, and the auth token is there. What ember-auth does, is that it serializes the existing session into a payload to be sent to the server. The default uses `token` as the `strategyAdapter`, so it will put the auth token in one of the params b

[2013-07-03 02:56] heartsentwined commented on #72
I cannot reproduce the issue. Here is what I did:

[code]

Then, I go to the console, and

[code]

[2013-07-03 02:59] heartsentwined commented on #72
I used `localhost:5000` instead of `localhost:3000`, because the demo app uses the `5000` port. But that shouldn't make a difference.

[2013-07-03 03:00] film42 commented on #72
I'll take a look at what it could be. I'll get back to you in a bit. Thanks!

[2013-07-03 03:12] heartsentwined commented on #69
@kevinansfield @Edwardzyc I cannot reproduce the (new) [issue](https://github.com/heartsentwined/ember-auth/issues/69#issuecomment-20345835). The [demo app](https://github.com/heartsentwined/ember-auth-rails-demo) does have such a set of routes (the `users` set). They are all `authRedirectable` enabled. The `actionRedirectable.signInRoute` is set to `users`. `rememberable` is enabled. However, whe

[2013-07-03 03:51] heartsentwined commented on #55
@mjallday ember has released a new version (`rc6`), and ember-auth has upgraded with it (`7.x`). This new version removed the need for `{ async: false }` in both modules, so you can safely use it with firefox now.

[2013-07-03 08:44] ralfschimmel commented on #71
Strange enough, yesterday my tests failed, today they succeed, will close this issue.

[2013-07-03 08:44] #71 closed, assigned to nobody

[2013-07-03 15:29] mjallday commented on #55
Awesome. That comes about a week too late after we refactored to work around the issue :)

I appreciate the update however and will take a look and see if it helps to simplify our code base.

[2013-07-03 15:34] kevinansfield commented on #69
Minor update on the above - I haven't been able to fix the problem yet but I have found that the redirect is happening on any route, even those not using the `AuthRedirectable` mixin.

[2013-07-03 15:41] kevinansfield commented on #69
@heartsentwined @Edwardzyc I managed to fix the redirect issue. It turned out to be the order of the modules defined in `Ember.Auth.create`.

before:

[code]

after:

[code]

[2013-07-03 17:25] asia653 commented on #69
Looks like order does count. Thanks @kevinansfield and @heartsentwined
Great base app @joscas

[2013-07-03 17:28] heartsentwined commented on #69
Order _does_ count. Multiple modules might want to do the same mutually exclusive action. An example: you have `rememberable` and `urlAuthenticatable` on, someone already has a remember cookie saved, but now this guy accesses your app with a URL with auth token. Which should take precedence (hence overriding the other sign in attempt)? That's completely up to userland; both might make sense given

[2013-07-03 17:35] heartsentwined commented on #69
The use case of @kevinansfield:

`actionRedirectable` needs to register the transition in order to have somewhere to redirect to - otherwise it will use the specified fallback route.

The "before" case

[code]

Now `rememberable` completes the sign in before `actionRedirectable` registers a route. But `actionRedirectable` does receives a sign in redirect request, so with no route, it redirects to

[2013-07-05 04:35] joebartels opened #75 "does not redirect if authentication with ember-auth-rememberable fails (4xx status response)"
The rememberable feature works as expected when my server validates the `ember-auth-rememberable` cookie sent by Ember-Auth (200 response + user_id  + new token) but if my server decides the token is invalid(expired, or just incorrect) then it returns a 403 status code and Ember-Auth does not redirect to the route designated in authRedirectable.

To test:
-call Auth.signIn with valid credentials a

[2013-07-05 15:26] remkoboschker commented on #49
Hi,

Thanks for the nice Ember extension? plugin?

I'm a bit confused by the behaviour of the autoloading of the current user.

If I do App.User.find('123') I get the user alright.
If I do App.Auth.get('userId') I get '123'
But if I do App.Auth.get('user'), I get 'null'

What is the best way of accessing the details of the currently logged in user?

[2013-07-05 15:33] film42 commented on #72
Found the solution after matching dependencies.

First I thought it might be a jquery miss-match, as my app is using jquery 2, downgraded, nothing.

Next I noticed I had Ember `rc 5`, so I upgraded to `rc 6` and problem solved! (I also tried `rc 6` with jquery 2 and it worked fine).

`rememberable, authRedirectable, actionRedirectable`  are broken in `Ember 1.0.0-rc.5`, solution: upgrade.

Perhaps

[2013-07-05 15:50] heartsentwined commented on #72
The `7.x` branch does require ember `rc6` or above.

Closing since the original issue is resolved; and the suggestion is already adopted.

[2013-07-05 15:50] #72 closed, assigned to nobody

[2013-07-05 18:52] Chandler commented on #39
You can create a require.js module for ember-auth like this, note that it will still be on the global namespace as well so this may or may not be useful to you.

[code]

As was mentioned earlier this assumes you have ember, jquery, and handlebars setup as require.js modules as well. An ember require.js module looks like this.

[code]

[2013-07-05 19:33] ebryn commented on #53
Ember Model isn't going anywhere.

[2013-07-05 19:40] joebartels commented on #75
If there exists an ember-auth-rememberable cookie (which is not correct) and a  `POST` is sent to the `sign_in` route, initiated by `rememberable`'s `recall` function (after a hard page reload for example). If the response is a 4xx status code (because of invalid token) I can get the expected behavior (of redirecting to `sign_in` route) if I make small modification to the `Rememberable` Ember Obje

[2013-07-05 19:40] trek commented on #53
With `ember-data` moving forward with [`json-api`](http://jsonapi.org/) there even more of a need for `ember-model`. You'll always need a library for existing projects or projects where the UI engineer can't mandate the serialization format.

`ember-data` will rock for greenfield projects, but that's not the world I get to live in (sadly).

[2013-07-06 00:10] mattgoldman commented on #65
@brandonparsons Hmmm, I'm having the same exact problem, and I'm including the auth before the store. Did you discover any other cause?

[code]

[2013-07-06 02:15] heartsentwined commented on #49
Straight from the [docs](http://ember-auth.herokuapp.com):

[code]

If you didn't set the `userModel` config, `ember-auth` will not auto-load the model for you. That's still fine though, as you can still use `App.Auth.get('userId')` to get the user ID, and call `App.User.find(id)` when you need it.

[2013-07-06 02:17] heartsentwined commented on #75
Digging into this, thanks for the issue report.

[2013-07-06 02:21] heartsentwined commented on #53
Sorry folks, I didn't realize that was a sarcasm on the `ember-model` docs. Anyway, @darthdeus has the correct solution in his [gist](https://gist.github.com/darthdeus/286a0ad56fce37261761) posted [above](https://github.com/heartsentwined/ember-auth/issues/53#issuecomment-18447051). Do you want to submit a PR yourself (and take credit)? My implementation would probably be exactly the same.

[2013-07-08 08:01] remkoboschker commented on #49
Hi, I had read the documentation and set the model. That's why I expected the behaviour. It's working fine now. I got confused by `(Note that it is not a string 'App.User'.)` on http://www.verious.com/code/heartsentwined/ember-auth/
I missed the `# pass the string` in the docs. Thank you for your swift reply.

[2013-07-09 02:20] heartsentwined commented on #24
Closing due to inactivity.

[2013-07-09 02:20] #24 closed, assigned to nobody

[2013-07-09 02:21] heartsentwined commented on #49
Closing due to inactivity (of the original issue).

[2013-07-09 02:21] #49 closed, assigned to nobody

[2013-07-09 03:39] #53 closed, assigned to nobody

[2013-07-09 03:44] heartsentwined commented on #53
Implemented (on master). It's a bit different from the implementation of @darthdeus, in that I added the promise callback logic that is present by default in the ember-model library.

[2013-07-10 01:47] #75 closed, assigned to nobody

[2013-07-10 01:50] heartsentwined commented on #75
Thanks for your big hint @joebartels , that's indeed the solution.

The reason behind is that, when adopting the promise pattern in ember's [new router](https://gist.github.com/machty/5723945), I had (wrongly) adopted its error handling in rejecting promises too. But `ember-auth` may need to execute code even after a sign in attempt failure state, just like the scenario you stated. Error handling

[2013-07-10 01:54] #67 closed, assigned to nobody

[2013-07-10 01:59] heartsentwined commented on #67
This feature has been added to master.

If you want to sign in a user, whose authentication information is represented by the (normally expected) server response `{ foo: 'bar' }`, then you do:

[code]

And to sign out this user:

[code]

Basically what this does is to simulate / mock a server response, and perform all the housekeeping work for sign in / sign out. All without hitting the server.

Y

[2013-07-10 06:45] #62 closed, assigned to nobody

[2013-07-10 06:47] heartsentwined commented on #62
Closing: `timeoutable` is implemented; and the original issue should be an ember-level concern (see comments above).

[2013-07-11 14:42] stimg opened #76 "Fail to load signIn route after url authentication"
ember 1.0 RC 6
ember-auth 6.0.5 (29 May 2013)
jQuery 1.9

[code]

It works fine if I use App.Auth.signIn(), but if I try to use url parameter for authentication, no routes will be initialized and I get an error:

Error while loading route: TypeError {} ember.js:361
(anonymous function) ember.js:361
defaultErrorHandler ember.js:25470
trigger ember.js:24754
handleError ember.js:24988
invokeCallback

[2013-07-11 17:15] Globegitter opened #77 "Signin redirect 'issue' (module: actionRedirectable)"
We have an app we automatically set the remember_token, so whenever you refresh a page it obviously logs you in again (which I think, on another note, is a general problem with ember anyway, that when you refresh the page you loose the session. There is nothing you could really do with ember-auth, right?). This leads to an 'issue' when actionRedirectable is activated.
Here is how I have it defined

[2013-07-11 19:38] joebartels commented on #75
thanks for looking at issue & explaining how the solution works. Looks like the error handling in the new router is very useful. We're all glad you're actively working on Ember-Auth to play nicely with the latest Ember releases! thanks!

[2013-07-11 22:14] heartsentwined commented on #77
Try the fix in [this comment](https://github.com/heartsentwined/ember-auth/issues/69#issuecomment-20432137).

[2013-07-12 00:47] Globegitter commented on #77
That works perfectly thanks. Though maybe it might be worth mentioning that in the docs because I can see that not everyone (such as me) really thinks about that at first.

[2013-07-12 00:47] #77 closed, assigned to nobody

[2013-07-12 03:14] heartsentwined commented on #77
I'm still pondering about whether it's a docs problem or ember-auth's problem...

[2013-07-12 04:59] Globegitter commented on #77
In my opinion, it would probably be slightly more elegant if in this case the order does not interfere with the 'smart' redirect. But I suppose it is also a question of how much work is it and is that worth it. However you decide, the most important thing is that it works ;)

[2013-07-12 11:15] seifsallam opened #78 "Ember auth doesn't work in non-restful resources"
I have a method where i need to vote for a post using `user_id`, but when sending POST request to backend, user `auth_token` doesn't get appended, knowing that it works in all other requests.

[code]

Is there anything that i need to do? or do i have to manually append all requests with `auth_token`

[2013-07-12 14:07] heartsentwined commented on #78
If you are using the `jquery` `requestAdapter` (which is the default), then `ember-auth` has this function in-built.

Relevant section from the [docs](http://ember-auth.herokuapp.com/):

So change your code slightly with this:

[code]

However, if you are not using `jquery` `requestAdapter`, then you'll have to include the auth token on your own.

[2013-07-12 14:17] seifsallam commented on #78
Thanks, working great.

[2013-07-15 18:34] seifsallam opened #79 "Remember Me in direct session injection"
Is there a way to tell ember-auth to remember me using session injection?

I use this for user signin after registration

[2013-07-15 21:13] heartsentwined commented on #79
Either you include a remember token in the mocked server response - the value probably doesn't matter if you don't care about it.

[code]

Or you use the module's methods directly.

[code]

Of course you have to enable the `rememberable` module and set its settings as usual. All code taken from the [docs](http://ember-auth.herokuapp.com/docs).

[2013-07-15 23:06] seifsallam commented on #79
First one is the one i'm looking for. Thanks alot.

[2013-07-15 23:09] seifsallam commented on #79
@heartsentwined Something off topic here, do you have any plans for oAuth integration, or tips on best way to integrate with ember-auth? Authenticating from ember vs from backend

[2013-07-15 23:17] seifsallam commented on #79
Sorry, but first method doesn't seem to be saving the token, just by refreshing it was gone

[2013-07-16 02:27] heartsentwined commented on #79
Please post your full `App.Auth = Ember.Auth.create()` settings, and the `App.Auth.createSession()` call.

[2013-07-16 02:29] heartsentwined commented on #79
oAuth integration: yes, in a future version maybe. For now, you can check out @joscas' example app, he has made an ember-auth + oAuth demo app.

[2013-07-16 05:03] kiwiupover opened #80 "A question about best practices."
G'day

I'm giving a talk Wednesday Night July 17 about Ember-Auth at the Seattle Ember meetup.

I have one piece of code I'm not sure about. Is there a better way to lookup the login controller?

[code]

Cheers
Dave

[2013-07-16 06:40] heartsentwined commented on #80
Glad to hear about your talk!

It depends on where you're trying to access the controller. Usually there would be ember api methods for accessing them, where you're supposed to be able to access controllers.

Simple for routes: `this.controller` for the current corresponding controller; and `this.controllerFor('foo')` for other controllers.

For controllers, you first need to declare other control

[2013-07-16 07:58] seifsallam commented on #79
Here is code

[code]

And this is the response from creating a new user

[code]

[2013-07-16 10:34] heartsentwined commented on #79
Thanks, I'll take a look at that.

[2013-07-17 05:35] kiwiupover commented on #80
Thanks heaps for the reply.

I should have been clearer. When I'm in the a callback like `App.Auth.on('signInError')` or one of the others, what is the best way to call a method on a controller. Say I want to show an error message to the user like this one.

[code]

To show the error and I want set loginError to true. Is this the best way or is the

[code]

I hope this clarifies the questions a bi

[2013-07-17 05:56] heartsentwined commented on #80
It _still_ depends on where you're putting this callback. Simply put, it is ember best practice to access the controller where you are provided methods to, i.e. from the routes and controllers. For instance, that callback could have been defined in, say, the `App.SignInRoute`, and you would use `this.controllerFor()` to access it. However, you would have to go through the container if you define i

[2013-07-17 05:59] heartsentwined commented on #80
Personally I would do something like:

[code]

[2013-07-17 05:59] kiwiupover commented on #80
Ok I get it now.

I really like the new time out feature a great inclusion.

Cheers

[2013-07-17 05:59] #80 closed, assigned to nobody

[2013-07-17 06:00] heartsentwined commented on #80
Glad to help :smile:

[2013-07-23 13:33] Globegitter opened #81 "Epf support"
There is this relatively new framework EPF (http://epf.io/, https://github.com/GroupTalent/epf) and I am thinking of switching because there are just a few major things that are quite painful with EmberData but ember-auth support would be necessary.
Do you think that would be a feature/module that could be added? Would be really helpful

[2013-07-23 13:37] heartsentwined commented on #81
I am an early adopter of EPF myself. But I'm still working my way through the code base. An EPF module would have to ensure that it does capture all requests, taking into consideration how users would be calling its API. PRs welcome though - if you are faster than me. :smile:

[2013-07-24 21:33] #10 closed, assigned to nobody

[2013-07-26 21:27] lagartoflojo opened #82 "Bundler.require doesn't require EmberAuth (ember-auth-source gem)"
I'm not familiar with how gems work internally, but I needed to access EmberAuth::Source.bundled_path, and found that EmberAuth wasn't getting included automatically, and had to instead be included with `require 'ember-auth/source'`:

[code]

[2013-07-26 21:38] heartsentwined commented on #82
I am not a bundler expert either, but from what I see with other gems, this is the expected behavior. The gem is called `ember-auth-source`, so you could expect its main file to reside in some sort of `ember-auth/source`, `ember/auth/source`, `ember-auth-source`, etc. In this case, it is `ember-auth/source`, so (as expected) one would `require 'ember-auth/source'` to load the gem. This is also how

[2013-07-26 21:44] heartsentwined commented on #76
Could you try upgrading the `ember*` components? First there is a critical fix applied in `ember rc 6.2`, then also `ember-auth` has been rewritten for the new router at `ember-auth 7.x`.

Let me know if the issue persists in the latest versions.

[2013-07-26 21:58] lagartoflojo commented on #82
Oh, ok.
I thought it was strange, because with ember-source you have access to
Ember::Source immediately, without additional requires.
Thanks!

On Fri, Jul 26, 2013 at 5:38 PM, heartsentwined notifications@github.comwrote:

[2013-07-26 22:00] heartsentwined commented on #79
One issue: does signing in with the given `remember_token` gives a valid response? I can partly reproduce your issue, but only when the stored remember token is invalid.

Success scenario:
1. Load app
2. Call `App.Auth.createSession('{"user_id":1, "auth_token":"foo", "remember_token": "bar"}');`
3. At the same time, the server saves the remember token `bar`
4. Refresh
5. Now, since you have enable

[2013-07-26 22:12] heartsentwined commented on #82
I'm not sure which is the norm, because some gems, e.g. `squeel`, does need an additional `require`. I'll mark this as an enhancement.

[2013-07-27 09:29] seifsallam commented on #79
No, I double checked my access and token is correct. In regular remember me scenario if it is set to false `ember-auth` doesn't save `remember_token` in cookies, but in cause of omniauth callback, it saves the `remember_token`, but it gets removed after refresh.

Here is the URL after the callback, do you think this would be the problem? `http://localhost:9000/?auth[user_id]=51f39174b2fac0f3750000

[2013-07-27 09:40] heartsentwined commented on #79
I noticed one particularity: there is a slash in your remember token. Your callback URL gives

[code]

Notice that towards the end of your remember token, in `..GO6/bgu`, the slash is not encoded. So the token will end prematurely before the slash, shortening it to an invalid token.

Can you check at server logs, about how it responses to ember-auth requests? i.e. what it is doing at:
1. initial c

[2013-07-27 09:42] heartsentwined commented on #79
In any case, if it is "working perfectly" for regular sign in, but only errors on omniauth, then we can be pretty sure that the issue lies with the omniauth implementation, no?

[2013-07-27 09:44] heartsentwined commented on #79
Another note: your URL seems to be following the format of the `urlAuthenticatable` module, but you have not enabled it in the auth config. Is it just a coincidence? Or do you want to use `urlAuthenticatable` too? In this case you would have to decide which would override which (`urlAuthenticatable` vs `rememberable`), and specify the modules in your desired priority.

[2013-07-27 10:00] seifsallam commented on #79
Oh, thats more clear now. The response from `sessions` is `401 Unauthorized`.

I am using the same method of generating `remember_token` as in `ember-auth` documentation, and it works great in `sessions` on the other hand generating it from `omniauth_callback` doesn't seem to work. Any ideas?

[code]

[2013-07-27 10:08] heartsentwined commented on #79
Try url-encoding your callback.

[2013-07-27 10:17] seifsallam commented on #79
Still nothing

[2013-07-27 10:19] seifsallam commented on #79
serializer from cookie cannot find user

[code]

[2013-07-27 10:30] heartsentwined commented on #79
What I mean is, first you want to url-encode the query string params in the callback URL, such that the callback URL should read

[code]

Notice the `%2F` replacing the `/` towards the end.

Next, depending on how magic your code is, when you access the token, you may, or may not, need to manually decode the URL or the token, so that it reverts to

[code]

instead of trying to find a token literal

[2013-07-27 10:43] seifsallam commented on #79
Still no difference with/out encoding Rails reads it as

[code]

[2013-07-27 10:54] heartsentwined commented on #79
Do you mean when it is sent out in response, or when it is read from params?

If it is the first case, and if you are passing it verbatim as the app's callback destination, then you need to url-encode it.

If it is the second case, then it is reading the full remember token correctly, but then still throwing a `401`, so despite all these it is still an invalid token - error elsewhere.

[2013-07-27 11:56] seifsallam commented on #79
When it reads from params. I don't know where the problem is but generating `remember_token` from `omniauthCallback` doesn't work and doesn't get saved to user.

At then end I just switched to using `urlAuthenticatable`, then added condition in sessions to check if there is `auth_token` in params. So after i get this callback, `ember-auth` calls the API back again with data from callback to login.

[2013-07-27 11:57] heartsentwined commented on #79
Well I'm still not sure where the original issue originates from, but I'll close this issue since you have found a solution. Feel free to re-open this if you wish to further debug the original issue.

[2013-07-27 11:57] #79 closed, assigned to nobody

[2013-07-27 12:01] seifsallam commented on #79
I think this is a rails / devise issue
—
Sent from Mailbox for iPhone

On Sat, Jul 27, 2013 at 1:58 PM, heartsentwined notifications@github.com
wrote:

[2013-07-27 12:03] heartsentwined commented on #79
Not enough information in this thread to pinpoint though, good luck if you're debugging with your full codebase.

[2013-07-29 18:55] lesterzone opened #83 "Undefined url id with actionRedirectable and signInRoute"
Very basic ember app,
Visit /exams/<strong>1</strong>/edit and then reload the page it turns the url into /exams/<strong>undefined</strong>/edit

If I remove signInRoute from actionRedirectable it works but signInRoute is needed.

bower.json

[code]

app.js

[code]

[2013-07-29 19:01] heartsentwined commented on #83
Issue already known, and fixed, at emberjs/ember.js#2946, and included from `ember` `rc.6.2` onwards. Please just upgrade and make sure you are using all latest releases of ember-\* packges, and let me know if issue persists.

[2013-07-29 19:01] #83 closed, assigned to nobody

[2013-08-06 08:47] kevinansfield opened #87 "After urlAuthenticatable authentication, I am redirected"
I'm using `urlAuthenticatable` so that a user can be logged in and redirected to the next signup step after confirming their account.

This used to work fine, now the authentication works but I am immediately redirected by the `actionRedirectable` away from the page that was requested.

My auth config is as follows:

[code]

When I access this url: `/signup/step_2?auth[auth_token]=xxx&auth[remembe

[2013-08-06 08:54] kevinansfield commented on #87
ember-auth-source: 7.1.0
ember-source: 1.0.0.rc6.4
ember-data-source: 0.13

[2013-08-06 09:02] heartsentwined commented on #87
Sounds like a duplicate of #69 - try the fix as we discussed in [this comment](https://github.com/heartsentwined/ember-auth/issues/69#issuecomment-20432137). (Move `actionRedirectable` to before `urlAuthenticatable`.)

Let me know if the issue persists.

[2013-08-06 09:04] heartsentwined commented on #63
Closing for lack of activity - I assume that the solution worked, that no more problem is reported.

[2013-08-06 09:04] #63 closed, assigned to nobody

[2013-08-06 09:10] kevinansfield commented on #87
The advice in that comment seems backwards for this issue?

Previously I had the `rememberable` module too high so my `actionRedirectable` wasn't working. Now I have the `urlAuthenticatable` first which is what I want to authenticate before any others but I am still be redirected when I shouldn't be.

[2013-08-06 09:15] kevinansfield commented on #87
Changing the order works but the ordering seems very counter-intuitive, should the redirect modules always come before the sign-in modules?

To me that seems strange as I would expect to be signed-in if possible before any redirection happens.

[2013-08-06 09:15] heartsentwined commented on #87
I mean something like

[code]

[2013-08-06 09:17] heartsentwined commented on #87
This is bugging me too, we're having like 4-5 reports on this same ordering issue. I can't think of a good way of bringing the "register redirect" part of `actionRedirectable` forward though, I'll keep you updated when I have a solution.

[2013-08-06 09:21] kevinansfield commented on #87
Cool, thanks for all your work on the library and your quick ticket response! I'll close the issue as the re-ordering seems to be working.

[2013-08-06 09:21] #87 closed, assigned to nobody

[2013-08-12 10:03] raphaelsaunier commented on #81
@heartsentwined, I'm considering writing an `epf` module for your library. Before I do this however, I was wondering if you had already looked into this. Is it as simple as patching the ajax method inside [rest_adapter.js](https://github.com/GroupTalent/epf/blob/master/lib/rest/rest_adapter.js#L548-L565) and translating methods calls (e.g. `store.find()` -> `session.load()`) or are there any other

[2013-08-13 02:56] heartsentwined commented on #81
@raphaelsaunier You're most welcome to do so. I certainly looks like overriding the ajax would be fine, but I haven't gone through the whole code base to be sure of that.

[2013-08-14 11:54] stimg opened #88 "Uncaught SyntaxError: Unexpected token <"
ember-auth v 6.x

ember-auth.js line 268 (Auth.canonicalize method)

If auth response not a valid JSON (f.e. HTML error page) ember-auth fails with error. Maybe try-catch has sense on JSON.parse()?

UPDATE: it looks like in the version 7.x it is fixed.

Thanks for your great job!

[2013-08-14 11:59] stimg commented on #76
Thank you! I've found workaround for it and it works for now. I'll make an update later and let you know if it works. BTW rc 7 is out today. Is ember-auth 7.x compatible with it?

[2013-08-15 04:26] heartsentwined commented on #88
Yes, it is indeed reported and fixed in #74.

[2013-08-15 04:26] #88 closed, assigned to nobody

[2013-08-15 05:01] heartsentwined commented on #76
I've just released a new version (`ember-auth 7.1.1`), that has `ember rc 7` tested and all passed.

[2013-08-15 07:15] remkoboschker opened #89 "redirect to login fails on ember1.0.0-rc.7"
The bug has been reported in the ember issues https://github.com/emberjs/ember.js/issues/3089

[2013-08-16 07:45] stimg commented on #76
I've updated ember and ember-auth to latest versions. Routing works now correctly.

Thank you!

[2013-08-16 08:22] stimg opened #90 "UrlAuthenticatable can't override signInEndPoint of Ember.Auth"
UrlAuthenticatable uses signInEndPoint of Ember.Auth, but my server exposes two different end points for url and authentication with credentials. It would be good if I could (re)define signInEndPoint for url authentication in the urlAuthenticatable config.

[2013-08-16 09:38] stimg opened #91 "UrlAuthenticatable send auth request twice"
ember rc 7
ember-auth v 7.1.1

I use authRedirectable, actionRedirectable and urlAuthenticatable in my App.
I define routes like this:

[code]

So the auth request will be sent each time ember load a route. Since ember loads application route and immediately goes to index route, auth request will be sent twice. Second request is sent before server response is received and authorization has been ma

[2013-08-16 10:10] heartsentwined commented on #76
Glad it helped.

[2013-08-16 10:10] #76 closed, assigned to nobody

[2013-08-19 12:04] stimg commented on #91
I've implemented this check on my local version. Works fine. I could commit it and make pull request, but not sure you have src in javascript. From line 1259 in UrlAuthenticatable:

[code]

[2013-08-19 12:23] heartsentwined commented on #90
An unusual use case - nevertheless mark as enhancement, I'll code it when I have free time.

[2013-08-19 12:37] heartsentwined commented on #91
I'm not sure if this is a valid pattern. Several thoughts in no particular order:

What is the order of your modules? The order is _significant_, in that it enables you to control which should take priority. My guess is that you put `authRedirectable` first, before `urlAuthenticatable`. If `urlAuthenticatable` goes first, it should already halt further processing (including `authRedirectable`'s wo

[2013-08-19 12:39] heartsentwined commented on #91
The source is in `ember-script`, which is a slightly modified dialect of `coffeescript` equipped with some ember-specific conveniences. But never mind if you don't know either of these: I can read and convert code from js.

[2013-08-19 12:41] heartsentwined commented on #89
Is this an ember-level bug then? From the issue referenced, it seems that this behavior is observed regardless of whether `ember-auth` is included or not.

[2013-08-19 13:11] remkoboschker commented on #89
It probably is not. Thought you'd might like to now something's up.

[2013-08-19 14:34] heartsentwined commented on #89
I'm monitoring the status of emberjs/ember.js#3089 in any case, thanks for the issue report

[2013-08-21 07:28] stimg opened #92 "Included Purl module is not compatible with AMD (Require JS)"
ember-auth v.7.1.1

On building of the last version of the ember-auth Require JS fails with error:
"Error: lib/ember-auth.js has two many anonymous modules in it."

I think it goes about this issue:
https://github.com/allmarkedup/purl/issues/42

I remeber that was also in the previous version and I've fixed it by moving Purl plugin out from the auth-module and adapted it as described.

[2013-08-21 09:23] heartsentwined commented on #92
Possible duplicate of #39: refer to [this comment](https://github.com/heartsentwined/ember-auth/issues/39#issuecomment-18131050) in particular.

[2013-08-21 09:33] heartsentwined commented on #92
The purl library - included at [`vendor/jquery.url.js`](https://github.com/heartsentwined/ember-auth/blob/master/vendor/jquery.url.js) - _claims_ to be AMD-compatible, though, as per their readme:

[2013-08-21 09:36] stimg commented on #92
I don't think this issue is duplicate. `ember-auth` module itself can be loaded with RequireJS with no problem. It goes about included `Purl`module. If you make described in mentioned issue changes in included in your `ember-auth.js` `Purl` module, it will work, I think. I load `cookies.js` and `purl.js` separately from `ember-auth` and define dependencies in shim section of RequireJS. But my copy

[2013-08-21 13:56] stimg commented on #92
may be, but in dist/ember-auth.js, which I use, an old 2.2.1 version is included directly in the code (lines 849 -- 1118). Should I take another file for development in js?

[2013-08-21 16:27] heartsentwined commented on #92
Thanks for the clarification, I have updated the `$.url` / `purl` library to the latest, and I have released a minor version bump (`7.1.2`) for this. Please try and see if it works.

[2013-08-22 01:51] bseng opened #93 "route option for sign in"
I've been looking at the tutorial, docs and code but can't find anything related to the following scenario.

Let say User sign up, after creating account you want to redirect them to a setup wizard page, which is a once off process. Right now the only possible way is to write the logic in signInSuccess and transitionToRoute.

Can we have a route options in SignIn so SignIn can be more flexible?

T

[2013-08-22 03:34] heartsentwined commented on #93
Looks good - marked as enhancement. I'll code this when I have free time.

[2013-08-22 03:47] bseng commented on #93
Thanks for your quick reply

[2013-08-26 17:26] flynfish commented on #78
I am having a similar issue, but its when I am just calling model.save(). Am I doing something wrong? This worked fine in 7.1.0 but I just updated to 7.1.2 and it stopped appending the auth_token to the PUT request.

[code]

[2013-08-26 17:42] flynfish commented on #78
I am also using EmberModel, v 0.0.8 so not sure if there is an issue with that. I will try to debug but if you have any ideas on tracking down the issue please let me know!

[2013-08-26 17:59] heartsentwined commented on #78
@flynfish I'm totally puzzled with the observed behavior. Here is the complete changeset between `7.1.0` and `7.1.2`:

Relevant / major:
- `emberModel` rewritten, to support a changed API from `ember-model`'s end - see #84. The change is introduced in `ember-model` `v0.0.7`. Affects `emberModel` module users.
- `$.url` / `purl` library updated from `v2.2.1` to `v2.3.1`. Affects `urlAuthenticatable

[2013-08-26 18:09] heartsentwined commented on #78
Reopening, although this appears to be a separate issue.

[2013-08-26 18:12] heartsentwined commented on #78
`emberModel` changeset [here](https://github.com/heartsentwined/ember-auth/commit/e71433ffa97e5287efceb671cc195c5e78d96837#lib/module/ember-model.em).

[2013-08-26 18:54] flynfish commented on #78
After further testing, 7.1.1 works correctly too, so the issue must be with `$.url` / `purl` library update. I am not using `urlAuthenticatable` module however. Any ideas?

[2013-08-26 20:01] heartsentwined commented on #78
Oh, thanks and sorry for that, it actually unearthed a stupid bug - the `v7.1.1` release is bogus. The source files do contain the changeset, but the actual dist files haven't been updated from `v7.1.0`. I'll yank the `v7.1.1` release.

[2013-08-26 21:28] flynfish commented on #78
Ah ok. I can confirm that #84 is the culprit for the break then. I will try and figure out why..

[2013-08-26 22:08] flynfish commented on #78
@heartsentwined is the issue something to do with the `settings.data` being `JSON.stringify`'d and ember-auth therefore can't add the `auth_token`?

here is the output I see when viewing the settings object in the `_ajax` function while debugging:

7.1.0 version output:

[code]

7.1.2 version output:

[code]

[2013-08-27 05:09] heartsentwined commented on #78
Good catch, that might be the case, I'll ask over at the original PR author, and see if a `stringifiy`'d string is crucial to `ember-model`'s API.

[2013-08-27 11:55] heartsentwined commented on #78
@flynfish could you do a test on whether removing the `stringify` would indeed fix the problem?

[2013-08-27 13:18] flynfish commented on #78
I get an error removing the stringify. I tried it yesterday, but I'm not by a computer at the moment to give more details

[2013-08-27 13:35] heartsentwined commented on #78
Pending further update from @flynfish. The PR to remove `stringify` is already there (passing). :smile: (#94)

[2013-08-27 18:24] bkCDL opened #96 "Node.js support"
I like your app. I am interesting in using it in my node.js app. As all the docs refer to Ruby, I am wondering... Does Ember-auth work only with Ruby on Rails or is it possible to use with Node?

Bryan

[2013-08-27 21:51] heartsentwined commented on #96
`ember-auth` is framework-agnostic, although I do code in rails myself, so I used that as an example. Pick up the npm package at [`ember-auth`](https://npmjs.org/package/ember-auth) :smile:

[2013-08-27 21:51] #96 closed, assigned to nobody

[2013-08-27 21:54] heartsentwined commented on #78
Fix at #95 merged into master and `7.1.3`.

[2013-08-27 21:54] #78 closed, assigned to nobody

[2013-08-29 06:44] #81 closed, assigned to nobody

[2013-08-29 07:22] tstirrat commented on #70
:+1:

I agree with these suggestions, too.

To clarify on the injection stuff, you can read how to do it here: http://madhatted.com/2013/5/26/communication-between-controllers-in-ember-js

So, assuming you made the changes suggested above, injection could be done like so:

[code]

And in the templates, you can access it like so:

[code]

Which would then allow any controller to access the auth sim

[2013-08-29 07:29] heartsentwined commented on #93
I have been thinking this through. What is your expected API for this use case?

A "sign up" function, _per se_, is not handled by `ember-auth`; it's just an ordinary call to the `create` endpoint of the user model. I guess that you are using the `App.Auth.createSession()` method to inject an authenticated session upon a successful server response, to mimic an auto-sign-in-after-sign-up function?

[2013-08-29 08:46] #82 closed, assigned to nobody

[2013-08-30 06:21] heartsentwined commented on #82
Implemented, although it does require a BC-breaking change. In `8.0.0`, the top-level namespace becomes `Ember::Auth`, and the load path becomes `(lib/)ember/auth`. Now you can do `Bundler.require`, and ember-auth will be available at `Ember::Auth::Source`. If you need a custom require statement, you'll need to `require 'ember/auth/source'` (not `ember-auth/source`).

Same happened to `ember-auth-

[2013-08-30 06:28] heartsentwined commented on #90
Implemented.

For your use case, first you can set the `endPoint` option for the `urlAuthenticatable` module, and it will work as you expected:

[code]

This setup will send `urlAuthenticatable`-originated sign in requests to `/url-authenticatable`.

Next, you can also call `signIn` in userland code with the url overridden:

[code]

This sends a sign in request to `/foo`, regardless of what you ha

[2013-08-30 06:31] heartsentwined commented on #81
`epf` module introduced (not enabled by default). Also of note is that the auto-load current user feature now works with `epf` - in that the `epf` library returns a promise on `model.find()` calls, but `ember-data` returns the model directly. Both will now work.

[2013-08-30 15:58] lagartoflojo commented on #82
Excellent! Thanks for this =)

[2013-08-31 07:19] heartsentwined commented on #81
But not with `ember 1.0.0.rc8` yet - GroupTalent/epf#83

[2013-09-02 12:42] Globegitter opened #98 "Ember Data 1.0 Beta 1 breaks Ember-Auth"
You probably know that, but Ember Data 1.0 Beta 1 breaks ember-auth completely.

I can also provide some error messages if that helps. Though also, just because you added the rc8 break-warning, I don't seem to have any issues running ember-auth with Emberjs 1.0.0 final and Ember Data pre-Beta (http://builds.emberjs.com.s3.amazonaws.com/daily/20130827/ember-data.min.js)

As always, massive thanks f

[2013-09-02 14:36] heartsentwined commented on #98
`ember-data` - sorry, I saw only `0.0.5` and `0.13` in ruby source gems, so the library was only tested against those.

`ember rc8` - well at least it breaks the test suite. Unfortunately the [changes](http://emberjs.com/blog/2013/08/29/ember-1-0-rc8.html) affected us, and I haven't got enough free time around to figure those out yet.

I guess we're not the only project who felt the BC breaks in `

[2013-09-03 22:19] matthewrudy commented on #98
I'm interested to help out with this too.

`ember-auth` works fine with Ember 1.0.0
(at least for how I use it)

But `ember-data` 1.0.0.beta.1 is totally different.

The first thing I know is broken is;

It used to be `User.find(1)`, now it is `@store.find 'user', 1`

Currently

[code]

I don't know why it calls find twice, but I'd hope it can just be;

[code]

That should return a promise with th

[2013-09-04 04:51] heartsentwined commented on #98
We'd either have to move this to the `emberData` module, or let userland code specify their own find methods (with `ember-data`'s find being the default). There are at least three ways of calling find on a model now, depending on which adapter you use:
- `store.find()` - `ember-data`
- `Model.find()` - `ember-model`
- `session.load()` - `epf`

[2013-09-04 17:59] somebody32 commented on #98
Hi! I've also noticed some problems according Ember Auth and Data b1,
At first I've thought that it is an Ember Data bug and described it [here](http://discuss.emberjs.com/t/ember-data-1-0-save-problem/2433), but after some digging I've found that this is caused by injecting ember auth with ember-data module, so it looks like adding token to every request is breaking up something

[2013-09-04 20:33] matthewrudy commented on #98
I'm going to give it a go tomorrow starting from scratch to build something similar to Ember Auth.
Will see how it goes.

[2013-09-05 13:57] somebody32 commented on #98
I've found the easy solution for the my problem above:

[code]

also, @heartsentwined maybe it will be better to base ORM modules not on your internal `Auth.send`, but on ORM's internal ajax call? And also rewrite `Auth.send` so it will use the currently activated ORM module, but not the own solution. I think this will help avoid problems like this in the future.

[2013-09-05 14:17] Globegitter commented on #98
@somebody32 so did you basically fix ember-auth, or did you just add that in your app? Because I tried a similar fix for mine, but I still didn't get it to work fully (granted, I didn't spent much time on it so far and it might have had some other issues).

[2013-09-05 14:20] somebody32 commented on #98
@Globegitter I've added this just to my app and removed `ember-data` from modules list for `ember-auth`. Also my app doesn't depend on auto load for current user, so this fixes only my problem described [here](http://discuss.emberjs.com/t/ember-data-1-0-save-problem/2433)

[2013-09-11 13:48] miguelcobain opened #99 "Error callback not executing"
Well, I want to execute some logic when a login fails.
Naturally, I return a `401` error code from my api when the credentials are wrong. However, the callback I register in Ember Auth doesn't fire.

This is probably related to jQuery, because the `fail` callback never executes. I've tried version 1.10 and 2.0.2 versions of jQuery.

I've also tried to return codes `400` and `500`, but with no succ

[2013-09-11 14:23] miguelcobain commented on #99
Nevermind. The problem was that my api was returning some HTML (default behavior), and ember-auth failed to parse the string. Shouldn't this scenario fire the error callback as well?

[2013-09-11 15:12] miguelcobain opened #100 "Nested token key property"
I would like to set my `tokenKey` property to a nested property (i.e inside an object and not in the root object). For example `tokenKey : 'user.token'`. Wrapped object responses are typical, specially when using ember that, so I think that this makes sense.

The same applies to `tokenIdKey`.

Is it possible to specify how ember-auth retrieves the token from the response?

Thank you.

[2013-09-11 18:49] heartsentwined commented on #100
Take a look at #63

[2013-09-11 18:53] heartsentwined commented on #99
Debatable: is this a failed `JSON.parse` error (thus should `throw` an error directly), or should `ember-auth` "swallow" it as well, and just send it through the error hook? IMO the first would make more sense. Malformed server responses usually suggest fixing the server, or customizing the adapter. I'd say the error hook shouldn't catch these; instead it should contain semantically meaningful err

[2013-09-12 09:12] miguelcobain commented on #100
Exactly what I was looking for.

Sorry, my bad. Should have looked better.
Thank you!

[2013-09-12 09:26] heartsentwined commented on #100
Glad it helped.

[2013-09-12 09:26] #100 closed, assigned to nobody

[2013-09-13 09:25] ekampp opened #101 "authRedirectable redirects even when user is signed in."
Hi there.

I have a problem, which is that after setting up the authRedirectable module (see below), after I sign in and reload, I will be redirected to the login route again.

Here is my setup:

[code]

When navigating to `#/dashboards` (which is the protected route), I get redirected to `#/login` and see the following output in my console:

[code]

So for me, that indicates that before setting t

[2013-09-13 09:59] heartsentwined commented on #101
I'll try to replicate this issue; meanwhile, I noticed that `signedIn` is not a computed property, is that intentional?

[2013-09-18 07:28] seifsallam opened #102 "Ember Data 1.0.0-beta"
Any plans for supporting ember-data 1.0.0-beta?

[2013-09-18 18:40] asia653 commented on #102
+1

[2013-09-18 20:50] KirillSuhodolov commented on #102
+1

[2013-09-19 03:02] heartsentwined commented on #102
I'm not an `ember-data` user myself, so I'll need some input from devs who do use the lib. The following is the only break that I know of:
- `App.Foo.find(1)` becomes `store.find('foo', 1)`

anything else?

[2013-09-19 07:06] seifsallam commented on #102
To be honest, I haven't tried migrating myself, as ember-auth didn't support it. So you might want to check these first.

https://github.com/emberjs/data/blob/master/TRANSITION.md
http://discuss.emberjs.com/t/migrating-from-ember-data-0-13-to-1-0-0-beta-1-my-findings/2368

[2013-09-19 07:20] heartsentwined commented on #102
Thanks for the links, I'll digest them

[2013-09-19 09:08] ekampp commented on #101
@heartsentwined, "computed property"? Can you elaborate?

[2013-09-19 11:55] heartsentwined commented on #101
I think you mean

[code]

[2013-09-20 04:53] arronmabrey commented on #102
+1

[2013-09-20 12:38] ekampp commented on #101
Hmm.. The problem seems to apply even with that change.

[2013-09-20 15:54] asia653 commented on #98
Related issue: https://github.com/heartsentwined/ember-auth/issues/102

[2013-09-21 21:14] admin-4virtuals opened #103 "AuthRedirectable problem"
I have everything working the way I think it should except for a couple things. I'm pretty for sure I had it to where it would redirect to login page if the user wasn't signed in. Now when I go to a secure route the page still loads the page and the model within. I want it to automatically redirect before this even happens.

**_Here is my App.Auth**_

[code]

**_Here is a sample route (Unimportant

[2013-09-22 02:16] heartsentwined commented on #103
From [the docs](http://ember-auth.herokuapp.com/docs):

[code]

Basically, `ember-auth` is using the same public API as userland code does: the `beforeModel` hook, in order to implement the redirect-before-model pattern. So you'll need to call `_super` to invoke `ember-auth`'s logic if you use this hook yourself.

[2013-09-22 05:28] admin-4virtuals commented on #103
Wow thanks. I saw a before model function in Ember Auth but forget I needed to call super to make it work. I will comment back to see if it works in a bit.

[2013-09-23 23:47] #103 closed, assigned to nobody

[2013-09-25 05:51] flynfish opened #104 "AutoLoad User not working?"
I upgrading to ember 1.0 and ember-auth latest. It doesn't look like the user is auto loaded anymore and I have to call it manually now:

I have it defined in auth.js:
`userModel: 'App.User',`

And I am logging in like so:

[code]

Is this intended behavior or should the user be autoloaded when calling `App.Auth.createSession()`?

[2013-09-25 06:01] heartsentwined commented on #104
Are you on `ember-data >= 1.0`? That's a known case of not working for now.

[2013-09-25 06:02] heartsentwined commented on #104
ref: #98 #102

[2013-09-25 06:03] flynfish commented on #104
@heartsentwined no I am using ember-model latest version 0.0.10

[2013-09-25 06:12] flynfish commented on #104
@heartsentwined I did some more testing, and it looks like the ember-model update from 0.0.9 to 0.0.10 broke this. I imagine its a similar issue to why its not working in ember-data.

[2013-09-25 06:16] heartsentwined commented on #104
Ah, all these persistent libs, can't they adopt a common API? :sigh:

What is the canonical way of querying for a single record in ember-model at `0.0.10`? I mean the equivalent of `App.User.find(1)` / `store.find('user', 1)` / `session.load('user', 1)` / etc

[2013-09-25 06:22] heartsentwined commented on #104
The current situation is that it is simply not-solvable with the current architecture. - You'll need userland code for now.

Previously, we could get away with a unified `App.User.find(id)`, being the common idiom of all three persistent libs.

`epf` was the first to break away from it, changing it to `session.load('user', id)`, but provides `App.User.find(id)` and `session.find('user', id)` for B

[2013-09-25 06:28] flynfish commented on #104
It uses .fetch for model and .find for adapter:
`Model.fetch(<String|Number>)`\- find by primary key (multiple calls within a single run loop can coalesce to a findMany), returns a promise

[code]

https://github.com/ebryn/ember-model/compare/0.0.9...0.0.10

[2013-09-25 06:30] heartsentwined commented on #104
Ah, oh dear :-)

[2013-09-25 06:30] heartsentwined commented on #104
So you should expect to pass `App.User` in, and have `ember-auth` call `App.User.fetch(id)`, right?

[2013-09-25 06:36] flynfish commented on #104
Yes I think that is correct from my understanding/misunderstanding :confused:

[2013-09-26 09:09] seifsallam commented on #102
@heartsentwined How is it going?

[2013-09-26 11:39] heartsentwined commented on #102
In progress of a rather big refactoring, which is a pre-req for supporting all these divergent APIs of persistent libs. See [this comment](https://github.com/heartsentwined/ember-auth/issues/104#issuecomment-25064366).

[2013-09-26 11:56] arronmabrey commented on #102
@heartsentwined Sounds awesome... lol.
Good luck and God Speed :-)

[2013-09-26 12:14] seifsallam commented on #102
@heartsentwined wow! Best of luck man. Make ember-auth awesome :+1:

[2013-09-26 14:59] stimg commented on #90
Thank you for your efforts! Unfortunately it doesn't work for me. Something goes wrong by url creation. In the ajax request in `Auth.Request.send`, line 252 I see following Ajax.settings object:

[code]

My endpoint is splitted into single letters and url === signInEndPoint. So request is sent to the wrong url.

[2013-09-26 15:01] heartsentwined commented on #90
Whoa! What happened?! I'm definitely digging into this

[2013-09-26 15:04] stimg commented on #90
Also auth request is sent twice. It won't work in my case since cross token valid one time only. With second request valid auth data will be invalidated.

[2013-09-26 17:22] flynfish opened #105 "ember-latest with query-params feature breaks ember-auth"
Just wanted to give a heads up on this since it will be turned on by default with ember 1.1 release. Turning on the query-params feature causes ember-auth to break and the user is no longer transitioned to the logged in route. (A page refresh sends them to the correct route though)

`Ember.FEATURES["query-params"] = true;`

[code]

About to start trying to debug to figure out why, any ideas on whe

[2013-09-26 17:45] heartsentwined commented on #105
I'm actually more interested in knowing the expected public API for accessing query params, and use that over the existing hack. It's really an ugly hack, basically hijacking the router initialization process to grab the query string params before ember trims / cleans them away.

[2013-09-26 18:04] flynfish commented on #105
@heartsentwined when you mention existing hack, are you talking about something ember-auth is doing or the way the ember-query stuff works?

[2013-09-26 19:34] flynfish commented on #105
Debugging:

`App.Auth.createSession(auth);` :arrow_right:

[code]

:arrow_right:

[code]

:arrow_right:

[code]

:arrow_right:

enters `set$(this, 'signedIn', true);`

:arrow_right:

fails on `result.retry()`

![screen shot 2013-09-26 at 1 33 34 pm](https://f.cloud.github.com/assets/253936/1220928/9d644dae-26e2-11e3-8eda-5963ba0a74d4.png)

[2013-09-26 20:56] flynfish commented on #105
Looks like the issue is in resolveRedirect() returning the empty object:

`this.get('' + env + 'Redir')`

and this is caused by the resolveRedirect getting hit twice?

![screen shot 2013-09-26 at 2 45 18 pm](https://f.cloud.github.com/assets/253936/1221453/a2638964-26ec-11e3-9dff-f25491c30d4e.png)

@heartsentwined any thoughts? We could check for empty object in `resolveRedirect` and use fallback

[2013-09-27 16:19] flynfish commented on #105
So checking for empty object fixes the issue when you don't have any queryParams...but when you do the signInRedir object is populated with the queryParam (i.e `localhost:3000/signup?promoCode=blah` -->  `{promoCode: "blah"}`)

via [3182](https://github.com/emberjs/ember.js/pull/3182), queryParams can be cleared on transition:

So maybe the ember-auth signIn route would have a config option to cle

[2013-09-27 18:56] sarjanen commented on #70
@AdRulz how's it going with your PR? Seems like this is the only way to getting Ember Auth to work with Ember Data 1.0.0

[2013-09-30 13:09] lukemarsh opened #106 "Remember me not working when I reload the page"
Hey, I've got an app using Devise for authentication but remember me doesn't seem to be working when I reload the page.

Any chance you could have a look through my code and see what the problem is?

https://github.com/lukemarsh/devicetracker

cheers!

[2013-09-30 20:58] guilemos opened #107 "signedIn is false on signInSuccess event"
hi guys, i'm starting with ember-auth to login users in my api.

I'm trying to load current user in signInSuccess, like this:

<code>App.Auth.on('signInSuccess', function() {
App.Auth.set('user', self.store.find('me')); <-- this call returns 401
});</code>

Calling my store in signInSuccess returns 401 cuz no token is sent.
I notice that "signedIn" is false during this event, so is set to true whe

[2013-09-30 22:20] flynfish commented on #107
You can autoload the user by specifying the user model in auth.js ->

[code]

[2013-09-30 23:46] flynfish commented on #105
I think the cause is in the [router](https://github.com/emberjs/ember.js/blob/2fa8777a3f2830fd3aaba297d8c5a8e8d6853a82/packages/ember-routing/lib/vendor/router.js#L1208), returning either `[transition]` or the `[queryParams, transition]`  ->

[code]

So the ember-auth ActionRedirectable beforeModel patch needs to handle the case of queryParams being present. Currently it only receives the first ar

[2013-10-01 02:27] guilemos commented on #107
Thanks for you reply!

I trying it cuz autoload don't working for me. Well, I take look in ember-auth.js and in my understand this function handles user's load:

<pre><code>  findUser: function () {
    var cache$, model, modelKey, this$;
    if (get$(this, 'userId') && (modelKey = get$(get$(this, 'auth'), 'userModel')) && (model = Ember.get(modelKey)))
      if (null != (null != (cache$ = set$(th

[2013-10-01 05:31] flynfish commented on #107
Does this help out?  [#63](https://github.com/heartsentwined/ember-auth/issues/63#issuecomment-18822827)

[2013-10-01 06:27] flynfish commented on #105
I temporarily fixed it by checking the length of the arguments. This isn't a final solution since it doesn't support passing the queryParams on to the registerRedirect. Waiting to hear from alexspeller on the best way to handle checking for queryParams.

[code]

[2013-10-01 07:37] lukemarsh commented on #106
I am using ember auth. not just devise...

[2013-10-01 12:05] heartsentwined commented on #105
Not pretty, but it's a working hack nonetheless?

[2013-10-01 12:05] heartsentwined commented on #106
@lukemarsh I'm quite busy these days, I'll get back when I have free time

[2013-10-01 12:31] guilemos commented on #107
I understand this approach, but I cannot see how it can help me, once that findUser method needs for a user_id to autoload user and I cannot provide it.

Or in my case I cannot use autoload?

Can you give me a sample?

Thank you!

[2013-10-01 13:48] flynfish commented on #105
@heartsentwined Yea it's working for me since I don't need the query params to continue to be available after the user is signed in.

[2013-10-03 05:47] bseng commented on #90
It does not work for me https://github.com/heartsentwined/ember-auth/issues/93 as well, after I put in the url it send a login request to the backend api without any of the parameters (email, password, remember, etc)

[2013-10-07 10:44] sarjanen commented on #102
@heartsentwined do you have any solution for this or will Ember Auth die out?
Edit, saw that you started with the injection pattern, good luck! Unfortunately I don't have the knowledge to help you.

[2013-10-07 11:51] heartsentwined commented on #102
Yea, work is going on in the `injection` branch. Sorry the delay, we just shipped a project, I'm having more free time now :)

[2013-10-07 11:57] arronmabrey commented on #102
@heartsentwined That's great to hear, shipping is the best. I'm in the middle of a project as well and can't wait until it's done so I can circle back to my side project that uses ember and and ember-auth. Seriously @heartsentwined thanks for your effort! I'm sure I can speak for everyone when I say, we are all very appreciative of your hard work :shipit:

[2013-10-07 23:08] heartsentwined commented on #102
Thanks @arronmabrey I'll update you guys when it's ready

[2013-10-08 00:11] heartsentwined commented on #105
I think the js idiom is to go with an `instanceof` check, but then I discovered that the `Transition` object is private. https://github.com/emberjs/ember.js/blob/2fa8777a3f2830fd3aaba297d8c5a8e8d6853a82/packages/ember-routing/lib/vendor/router.js#L38

I'll fallback on a ruby-style `respond_to?` check on the `retry` method, and just assume that such a method would only be present on a real transiti

[2013-10-08 00:17] heartsentwined commented on #105
The reason why I'm checking on the `transition` arg instead of the `queryParams` arg is that the former could be, essentially, just a plain js object but still functional. Example: someone stubbing `queryParams` to be a plain js object in a test suite.

[2013-10-08 12:40] jonnedeprez commented on #102
I've been able to use ember-auth in combination with Ember Data beta 2 without any problem.

A bit hacky, but until an update of ember-auth is ready it works fine: I patched the findUser method by running this just after Auth is created (CoffeeScript):

[code]

To access the Auth object in controllers and routers I created an initializer with

[code]

and one with

[code]

In Handlebars you can th

[2013-10-08 13:35] heartsentwined commented on #102
Thanks for the ideas @jonnedeprez

[2013-10-08 23:43] flynfish commented on #105
Yea I had noticed that Transition was private too, which is why I had to go the route of checking the args length. Your solution is cleaner

[2013-10-10 17:21] seifsallam commented on #102
@heartsentwined So ember-auth 9.0 is out :dancer:

How can we integrate it?

[2013-10-10 20:35] heartsentwined commented on #102
Give me some more time and the docs and upgrade guide will be out too :)

[2013-10-10 21:06] seifsallam commented on #102
Thats awesome. Really appreciate your work here :)

[2013-10-10 21:45] sarjanen commented on #102
+1 @seifsallam! But I still think you need to consider to enable a session to be active when a user reload the page, more user friendly. I have made a ugly hack but it's really ugly..

[2013-10-11 01:27] heartsentwined commented on #102
@Padchi there's `rememberable` for that

[2013-10-11 08:28] heartsentwined commented on #102
@Padchi I mean, unless you have some way to distinguish between "an immediate browser refresh" and "closing the browser and coming back visiting the same url after 5 days", I cannot see how that would be different from using the auto-recall feature from `rememberable`.

[2013-10-11 08:34] sarjanen commented on #102
@heartsentwined true! But it's a pretty simple solution with sessionStorage.

[2013-10-11 16:53] stimg opened #108 "Auth.Request.Jquery.signOut() does not trigger signOutSuccess on success."
In the Auth.Request.Jquery (ember-auth.js, line 237) you set explicitly `dataType` in ajax settings to `json`. REST uses DELETE method on `signOut()` where server doesn't return any valid JSON, just 200 OK. This cause request fail (since jQuery 1.9). $.ajax has "Intelligent Guess" of data type by default. So if I comment line 237, everything works fine. Could you please check this?

Thanks a lot f

[2013-10-13 14:21] heartsentwined commented on #102
@seifsallam [docs](http://ember-auth.herokuapp.com/docs) updated! now give me yet more time for the changelog and upgrade guide. _Damn_ docs. Took me more time to write docs than `ember-auth` itself...

@Padchi `sessionStorage` - (something like `sessionRememberable`? I imagine it would be like `rememberable`, but using a session cookie as storage?) It sounds like a good idea for a module. Would y

[2013-10-13 14:44] seifsallam commented on #102
@heartsentwined Awesome :) I can't though install other bower dependencies for jquery and the others

[2013-10-13 15:21] heartsentwined commented on #102
@seifsallam sorry my bad, I forgot to register them in bower. I'll register them now.

[2013-10-13 15:29] heartsentwined commented on #102
@seifsallam bower components all registered

[2013-10-13 15:36] seifsallam commented on #102
Thanks.

Isn't there an easier way than installing 8 packages and registering them? Its a good thing for the model adapter, but i think the defaults should be just packed in, is there a reason for why you extracted them?

[2013-10-13 15:44] heartsentwined commented on #102
I weighed the cost and benefits of extracting them. Mainly -

(extracted from the upgrade guide that I'm writing now)

The mass-installation is just a one-time cost for the dev, so it shouldn't be _that_ annoying.

I have also considered putting together a meta package, which includes the original defaults: `jquery` request adapter, `json` response adapter, `strategy` session adapter, `cookie` ses

[2013-10-13 15:46] heartsentwined commented on #102
I have also read several blog posts (let's not name them directly) that complained about the bulky state of `ember-auth` - "I don't want a heavyweight code base just to authenticate a user". So I guess it's the right direction to go.

[2013-10-13 15:48] seifsallam commented on #102
Ok, thanks for clearing that up

[2013-10-13 17:46] heartsentwined commented on #108
Ah, that hard-coded line. I was puzzled at that one too myself, but I saw `ember-data` core code [doing that](https://github.com/emberjs/data/blob/3ff8f1de11b02b0ca1f9a889c3fb87b5e17e32be/packages/ember-data/lib/adapters/rest_adapter.js#L519), and I thought, oh, they must have a very good reason to do so, right? So I did the same in `ember-auth`.

Here is what I have reasoned out: what can `ember-

[2013-10-13 17:56] heartsentwined commented on #106
@lukemarsh https://github.com/lukemarsh/devicetracker gives me a `404` ... ?

[2013-10-13 18:25] heartsentwined commented on #89
Closing. This appears to be an `ember`-level bug.

[2013-10-13 18:25] #89 closed, assigned to nobody

[2013-10-13 18:25] heartsentwined commented on #89
Please reopen if the issue persists even after emberjs/ember.js#3089 has been fixed.

[2013-10-13 18:30] heartsentwined commented on #93
The original issue, if the assumption (due to inactivity) of using `createSession()` is correct, is solvable by

[code]

This code snippet uses `9.x` branch syntax. The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

Please reopen this ticket if it d

[2013-10-13 18:30] #93 closed, assigned to nobody

[2013-10-13 18:30] heartsentwined commented on #93
/cc @bseng

[2013-10-13 18:31] heartsentwined commented on #92
The `urlAuthenticatable` module in `9.x` no longer requires - hence no longer bundles - the `$.url` / `purl` library. This renders this issue irrelevant.

The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

[2013-10-13 18:31] #92 closed, assigned to nobody

[2013-10-13 18:31] heartsentwined commented on #91
There has been yet another upgrade available - at `9.x`. The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

Closing due to inactivity. Please reopen if the issue persists after upgrading `ember-auth`.

[2013-10-13 18:31] #91 closed, assigned to nobody

[2013-10-13 18:31] heartsentwined commented on #90
I noticed a old function signature that hasn't included the custom end point as an argument. Presumably that is what is causing the bizarre behavior?

The fix has been merged at `9.x`. The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

Please try th

[2013-10-13 18:31] #90 closed, assigned to nobody

[2013-10-13 18:31] heartsentwined commented on #90
/cc @stimg @bseng

[2013-10-13 18:31] heartsentwined commented on #70
Hooray!

Injection pattern implemented in `9.x`. The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

Please reopen this ticket if something is wrong with the new injection pattern implementation.

[2013-10-13 18:31] #70 closed, assigned to nobody

[2013-10-13 18:31] heartsentwined commented on #70
/cc @Padchi

[2013-10-13 18:32] heartsentwined commented on #104
@flynfish the latest `ember-model` syntax now supported in `9.x`. The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

Snippet from the [docs](http://ember-auth.herokuapp.com/) for quick reference:

[code]

Please reopen this ticket if it doesn't work

[2013-10-13 18:32] #104 closed, assigned to nobody

[2013-10-13 18:32] heartsentwined commented on #102
Original issue (`ember-data` support) closed - `9.x` (latest version) now supports auto-loading current users for `ember-data` (also `epf` and `ember-model`). The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

Ticket left open, though, to track the

[2013-10-13 18:33] heartsentwined commented on #102
/cc @Edwardzyc @KirillSuhodolov @arronmabrey @Padchi @jonnedeprez - that is, everybody who `+1`ed this issue

[2013-10-13 18:38] heartsentwined commented on #101
@ekampp at `9.x` (latest), `authRedirectable` got a slight rework, which, in addition with the general architectural change at `ember-auth`, should get rid of some subtle bugs from loading order and same ember run loops. Could you upgrade and see if the problem persists? The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-a

[2013-10-13 18:38] heartsentwined commented on #99
@miguelcobain This behavior has been standardized in `9.x`. It will (or, at least, _should_) now always reject as error.

[code]

The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

Please reopen the ticket if the actual behavior is different.

[2013-10-13 18:38] #99 closed, assigned to nobody

[2013-10-13 18:38] heartsentwined commented on #98
`9.x` (latest version) now supports auto-loading current users for `ember-data` (also `epf` and `ember-model`). The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

Please reopen this ticket if it doesn't work.

[2013-10-13 18:38] #98 closed, assigned to nobody

[2013-10-13 18:39] heartsentwined commented on #98
/cc @Globegitter @somebody32

[2013-10-13 18:39] heartsentwined commented on #107
@guilemos @flynfish `9.x` (latest version) now supports auto-loading current users for `ember-data`, `epf` and `ember-model`. And without that bizzare hack with `.then()` checks and multiple calls. The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

[2013-10-13 18:39] #107 closed, assigned to nobody

[2013-10-13 18:39] heartsentwined commented on #105
@flynfish query-params support integrated to `9.x`. The usual code-generating [docs](http://ember-auth.herokuapp.com/) and [upgrade guide](https://github.com/heartsentwined/ember-auth/blob/master/CHANGELOG.md#upgrade-guide) to help with the transition.

Please reopen this ticket if it doesn't work.

[2013-10-13 18:39] #105 closed, assigned to nobody

[2013-10-13 19:45] ekampp commented on #101
I will take a look later this week. Thanks.

[2013-10-13 20:44] sarjanen commented on #102
@heartsentwined it's nothing fancy. I just set a sessionStorage item with user's token and id when a user signs in and then checks after them in a simple initializer.

[code]

[2013-10-13 20:49] heartsentwined commented on #102
@Padchi so after a refresh, do you just "inject" back the auth session to `ember-auth` (probably via `createSession()`), or do you make a sign in request to the server with those credentials? The latter is similar to what `rememberable` does, but both would make sense.

[2013-10-13 20:50] sarjanen commented on #102
@heartsentwined I just updated my post :)

[2013-10-13 20:52] heartsentwined opened #109 "restore auth session on browser refresh"
Existing solution involves turning on `autoRecall` feature from `rememberable`.

@Padchi suggested, from #102, that we can combine `sessionStorage` and `auth.createSession()` to automatically restore auth session, as long as the session is still active.

This issue can pick up discussion from #102.

[2013-10-13 20:53] heartsentwined commented on #102
@Padchi Let's move discussion over to its own issue #109.

[2013-10-13 20:53] #102 closed, assigned to nobody

[2013-10-13 20:54] heartsentwined commented on #102
Closing issue. The original `ember-data` support issue has been addressed with `9.x` release, and the discussion on the `sessionStorage` idea has been moved to #109.

[2013-10-13 20:55] heartsentwined commented on #102
Thanks for the code sample @Padchi

[2013-10-14 08:46] cintrzyk opened #110 "Cannot call method of undefined (@auth)"
My app:

[code]

auth.js.coffee:

[code]

In my view I have submit action:

[code]

Problem is when I click submit on my form console shows:

[code]

Am I doing something wrong with @auth?

[2013-10-14 10:33] heartsentwined commented on #110
Dependency injection into views is shaky currently, at the ember-level. We have encountered several seemingly random and unconnected instances of supposedly injection into views not working. For example, is it related to emberjs/ember.js#3372 ?

[2013-10-14 10:34] heartsentwined commented on #110
P.S. the code looks familiar, are you trying out the rails demo? If yes, then (1) I'm in the middle of updating that to `9.x`, and (2) great, that means I can try to reproduce your observation

[2013-10-14 10:39] heartsentwined commented on #110
P.P.S. if you are looking for a quick fix, you can hack through by

[code]

That is, of course, discouraged by ember - you aren't supposed to access the container. But well, at least it works.

[2013-10-14 11:21] seifsallam opened #111 "@auth.send is not working correctly"
I can't get `@auth.send` to be working like it used to before. I've updated ember-auth to `v9.0.6`. But it doesn't read any of the settings below.

I've tried `Ember.$.ajax` and its sending everything correctly, but of course without the `auth_token`. Any ideas what i'm doing wrong?

[code]

[2013-10-14 12:05] heartsentwined commented on #111
Oh yes, I discovered today that two bugs affecting `@auth.send` slipped through. Does these two fixes address your problem?
- https://github.com/heartsentwined/ember-auth/commit/397d87447e652c6b2da69c7e9649c5f95b816b4d (released in `ember-auth` `9.0.6`)
- https://github.com/heartsentwined/ember-auth-request-jquery/commit/10c8813699e1c9257c69f36ac8f697dcc280297f (released in `ember-auth-request-jqu

[2013-10-14 12:23] cintrzyk commented on #110
Yes, I used wiki from rails demo app.
Thanks for the quick fix -- it works with signIn:

[code]

but addHandler doesn't. I'm waiting for update rails demo app then.

[2013-10-14 13:18] seifsallam commented on #111
Fixed. Totally forgot to update `request-jquery`, my bad.

[2013-10-14 13:18] #111 closed, assigned to nobody

[2013-10-14 14:04] heartsentwined commented on #111
Actually my bad, those mistakes shouldn't have creeped into releases. Sorry, sorry for the troubles.

[2013-10-14 14:58] sarjanen commented on #110
Use this instead:

  @auth.signIn(
    data:
      email: @get('email')
      password: @get('password')
  ).then( (response) ->
    console.log 'Im in'
  )

Well with right indent.. Not easy to write from mobile..

[2013-10-14 15:25] cintrzyk commented on #110
@Padchi It also doesn't work.

[2013-10-14 16:54] sarjanen commented on #110
Weird! May I ask why you have your submit function in a view? Feels like it fits better in a controller.

[2013-10-14 17:05] stimg commented on #108
Good points. Agree. It is really better to be sure that you've got an appropriate server answer that to be flexible in such a case. I'll ask our backend developers to provide a valid JSON object answer on any operations. So I close the issue.

Thanks!

[2013-10-14 17:05] #108 closed, assigned to nobody

[2013-10-14 17:07] cintrzyk commented on #110
I used example from ember guides. Take a look at this [section](http://emberjs.com/guides/understanding-ember/the-view-layer/#toc_event-bubbling).

[2013-10-14 17:10] stimg commented on #91
Sorry, I didn't have time to review that tightly. But I definitely check it in the new version, since it is a really critical an issue in my case.

[2013-10-14 17:15] sarjanen commented on #110
@cintrzyk it's probably mostly a matter of interpretation. For me, things that affect a template should be in a view and actions in a controller. Try to put the function in a controller action and it should work.

[2013-10-14 18:55] cintrzyk commented on #110
When I putted action into controller I don't need this quick fix anymore.
It sending request without problems but I can't get the handler(or 'then' method) work..

[2013-10-14 19:12] tstirrat commented on #70
awesome :)

[2013-10-15 01:32] bseng commented on #90
I've upgraded to `9.0.6` and try the end point option `test-end-point` with sign-in. After sign-in the end point actually transit to `http://localhost:5000/test-end-point` and fail. I guess the correct one should be `http://localhost:5000/#/test-end-point`

[2013-10-15 02:47] heartsentwined commented on #90
@bseng are you using the `hash` location or the `history` location, or a custom one? (`hash` is default)

[2013-10-15 02:49] bseng commented on #90
I haven't set any location (don't know how to )so I believe is `hash`

[2013-10-15 02:50] heartsentwined commented on #90
By the way, the end point is for _sending_ requests to the server. If you put, e.g.

[code]

That should only have the effect of sending sign-in requests from url authentication to '/test-end-point' instead of '/normal-end-point'.

[2013-10-15 02:52] heartsentwined commented on #90
I'm skeptical that you would expect a (server api) end point like `/#/test-end-point`. Are you actually looking for the `actionRedirectable` module? That one handles post- sign in (and sign out) redirects to different routes in your ember app.

[2013-10-15 02:59] bseng commented on #90
I'm actually refering to the `actionRedirectable` module and using the signIn options for one time redirect. Sorry for the confusion.

[2013-10-15 03:21] heartsentwined commented on #90
There is no built-in one-time redirect config option in `actionRedirectable`, but I would do

[code]

[2013-10-15 04:12] guilemos opened #112 "get$(this, '_request') is Undefined"
Hello guys, I'm upgrading to new version and I'm having the follow issue when I try to signIn:

Uncaught TypeError: Cannot call method 'resolveUrl' of undefined in this line:

<code>76. url = get$(this, '_request').resolveUrl(get$(this, 'signInEndPoint'));</code>

on debug, get$(this, '_request') returns undefined. Any ideias?

Regards!

[2013-10-15 04:13] heartsentwined commented on #112
Any more code for debugging the issue?

[2013-10-15 04:14] heartsentwined commented on #112
Also, can you post the output of `App.__container__.lookup('authRequest:jquery')`? (replace `App` with your app name, and probably `jquery` with `dummy` if you are using the dummy request adapter)

[2013-10-15 04:28] guilemos commented on #112
@heartsentwined, App.**container**.lookup('authRequest:jquery') returns undefined too.

My code is simple:

[code]

in my controller action:

[code]

Thank you!

[2013-10-15 04:35] heartsentwined commented on #112
Have you included the `ember-auth-request-jquery` file (and others)? The equivalent code for `rails` is

[code]

I'm not a user of other envs or build tools, so I cannot provide any canonical example for other environments.

[2013-10-15 05:02] bseng commented on #90
that works well, thanks

[2013-10-15 05:10] guilemos commented on #112
Yep, you're right! My bad... It's works now!

Thank you! Great job!

[2013-10-15 05:10] #112 closed, assigned to nobody

[2013-10-15 05:54] heartsentwined commented on #112
I have added a reminder on the docs about including files though, thanks for the issue!

[2013-10-15 08:50] BBLN commented on #110
I had the same problem, it seems like the submit method has different "sub" view.
I used @get("parentView").auth instead.

[2013-10-15 10:49] heartsentwined commented on #110
@BBLN if the parent view has an `auth` but the child view doesn't, then I'm quite certain that it is emberjs/ember.js#3372.

[2013-10-15 18:53] stimg opened #113 "this.auth.sigIn() fails with no server request in JS implementation."
Ember      : 1.1.0-beta.4 ember.js
Handlebars : 1.0.0 ember.js
jQuery     : 1.10.2
ember-auth: 9.0.6

There are some inconvenience in JS implementation I've faced to by migration to the version 9.+ (please, correct me if I'm wrong):
- ember 1.0.0 release version doesn't suit to work with ember-auth 9.+ (!Ember.FEATURES), you must upgrade to ember 1.1.+ beta
- there is no way to get modules from yo

[2013-10-15 20:39] flynfish opened #114 "Update docs - rememberable requires session"
In the process of upgrading to `.9.x` and tried adding the rememberable module without also including the `ember-auth-session-cookie`, so an undefined error is thrown.

Would be good to make a note in the docs that `rememberable` requires a `session strategy` to work correctly.

[2013-10-15 21:03] flynfish commented on #110
Just ran into this same issue. Thx for the tip on fixing @BBLN!

[2013-10-15 22:10] heartsentwined commented on #114
A `session` is compulsory actually, it is where `ember-auth` holds auth information. Previously it was still there, just configured to be `cookie` by default so "hidden" from userland code.

[2013-10-15 22:12] flynfish commented on #114
Ok I understand now.... but it isn't clear that its compulsory in the session section of the docs. It makes sense when you think about it of course :), but someone new reading the docs might not know since it doesn't explicitly say it anywhere. (unless I just missed that part)

[2013-10-15 22:13] heartsentwined commented on #113
Sorry, they were not designed with AMD/requireJS in mind. #39 mentioned a way of creating them, is that compatible with non-AMD usage?

[2013-10-15 22:17] heartsentwined commented on #113
The ember latest dependency was required because you used `urlAuthenticatable`, and it depends on emberjs/ember.js#3182. Otherwise, `ember-auth` will work fine with ember `1.0`.

[2013-10-15 22:20] heartsentwined commented on #114
I'll clarify it in the docs, thanks for the issue!

[2013-10-15 22:25] heartsentwined commented on #113
Just to clarify, the `urlAuthenticatable` module has been rewritten. Previously it packed its own solution to handle query params, which required bundling a full `$.url` lib with the module, and a hack hijacking ember's routing process to grab the query params before ember trims them away automatically. Since emberjs/ember.js#3182 introduced official query params support, I have decided to rely on

[2013-10-15 22:29] flynfish opened #115 "Auth Token not appended to url"
I just upgraded to .9.0.6 and when I log in, the sign in endpoint is call correctly, but when it transitions to my signInRoute and tries to load the user endpoint the auth_token is not sent as a parameter:

Auth.js

[code]

[code]

![no_auth_token](https://f.cloud.github.com/assets/253936/1338548/326dd374-35e9-11e3-9ebb-07c6f14638ad.png)